.c-navigation {
  $self: &;

  @at-root #{$self}__menu_toggle{
    &[aria-expanded="true"]{
      & + ul[hidden]{
        display:block;
      }
    }
  }

  @at-root #{$self}__menu{
    .open + ul{
      display:block;
    }
  }
}