<navigation
    nav-icon-menu="mobile-dropdown"
    mobile-nav="mobile-dropdown"
    desktop-nav="desktop-dropdown"
    :breakpoint="650">
    <ul slot="navigation">
        <li>
            <a href="#" class="something_one" >Lvl 1 Itm 1</a>
        </li>
        <li>
            <a href="#">Lvl 1 Itm 2</a>
            <ul>
                <li>
                    <a href="#">Lvl 2 Itm 1</a>
                </li>
                <li>
                    <a data-item-id="CUSTOM-item ID" href="https://yahoo.com">Lvl 2 Itm 2</a>
                </li>
                <li>
                    <a href="#">Lvl 2 Itm 3</a>
                    <ul>
                        <li>
                            <a href="https://google.com">Lvl 3 Itm 1</a>
                        </li>
                        <li>
                            <a class="something_three another_class nav_level_3" href="#">Lvl 3 Itm 2</a>
                        </li>
                        <li>
                            <a href="#">Lvl 3 Itm 3</a>
                        </li>
                        <li>
                            <a href="#">Lvl 3 Itm 4</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <p>Lvl 1 Itm 3</p>
            <ul>
                <li>
                    <a href="#">Lvl 2 Itm 1</a>
                </li>
                <li>
                    <a href="https://yahoo.com">Lvl 2 Itm 2</a>
                </li>
                <li>
                    <a href="#">Lvl 2 Itm 3</a>
                    <ul>
                        <li>
                            <a href="https://google.com">Lvl 3 Itm 1</a>
                        </li>
                        <li>
                            <a class="something_three another_class nav_level_3" href="#">Lvl 3 Itm 2</a>
                        </li>
                        <li>
                            <a href="#">Lvl 3 Itm 3</a>
                        </li>
                        <li>
                            <a href="#">Lvl 3 Itm 4</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <button>Lvl 1 Itm 4</button>
        </li>
        <li>
            <button href="#">Lvl 1 Itm 5</button>
        </li>
    </ul>
</navigation>