<% let component = {
  title: "Alert Bar",
  description: "Used to display a timely message to users.",
  background: "light",
  html: {
    code:
`<div id="alert_bar" class="c_alert_bar c_alert_bar--message">
  <div class="c_alert_bar__summary" @click="toggleAlertBar">There is an outage in our production. Click for more information.</div>
  <div class="c_alert_bar__message" v-show="alertBarIsVisible">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <noscript>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </noscript>
</div>`
  },
  twig: {
    code:
`{% import 'macros/component.twig' as component %}
{% set body %}
    <div class="c_text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
{% endset %}
{{ component.c('alert_bar', { body: body, summary: 'There is an outage in our production.' }) }}`,
    options: [
      { "name": 'body', "required": false, "type": 'string', "default": `''`, "description": `URL of audio file.` },
      { "name": 'summary', "required": true, "type": 'string', "default": `''`, "description": `URL of audio file.` }
    ]
  }
} %>
<%- include(paths.starter.styleInventory + '_demo.ejs', { component: component, paths: paths, pkg: pkg, release: release }) %>