<% const currentSection = 'buttons' %>
<% const modules = styleTemplateConfig.sections.buttons.modules %>
<% const moduleTemplates = [] %>

<% if (modules.class) { %>
    <% moduleTemplates.push({
        "title": "Class",
        "description": "A call-to-action button, used to encourage user interaction.",
        "background": "light",
        "twigCode": '<a class="button" href="{{ entry.linkUrl }}"{% if entry.openLinkInNewWindow %} target="_blank"{% endif %}>{{ entry.linkLabel }}</a>',
        "code": '<a class="button" href="#">Read More</a>'
    }); %>
<% } %>

<% if (modules.element) { %>
    <% moduleTemplates.push({
        "title": "Button Element",
        "description": "A button that performs a Javascript-based action.",
        "background": "light",
        "code": '<button>Action Button</button>'
    }); %>
<% } %>

<% if (modules.submit) { %>
    <% moduleTemplates.push({
        "title": "Submit Button",
        "description": "The submit button on forms.",
        "background": "light",
        "code": '<input type="submit" value="Sign Me Up">'
    }); %>
<% } %>

<%- include('partials/_wrapper', {"activeItem": currentSection, "modules": moduleTemplates, "sections": styleTemplateConfig.sections, "styleTemplatePrefix": styleTemplatePrefix, "styleTemplateSuffix": styleTemplateSuffix}) %>