<% const currentSection = 'media' %>
<% const modules = styleTemplateConfig.sections.media.modules %>
<% const moduleTemplates = [] %>

<% if (modules.audio) { %>
    <% moduleTemplates.push({
        "title": "Src-Set Image",
        "description": "A normal image, loaded with the `src-set` attribute.",
        "background": "light",
        "code": `<img src="/img/FPO.png" srcset="/img/FPO.png 1x, /img/FPO@2x.png 2x" alt="For Placement Only">`
    }); %>
<% } %>

<% if (modules.lazy_load_audio) { %>
    <% moduleTemplates.push({
        "title": "Lazy-loading Images",
        "description": "An image loaded when the user scrolls down to its location on the page.",
        "background": "light",
        "code": `<img data-emergence="hidden" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="/img/FPO.png 1x, /img/FPO@2x.png 2x" data-width="1000" data-height="1000" alt="For Placement Only">`
    }); %>
<% } %>

<% if (modules.youtube) { %>
    <% moduleTemplates.push({
        "title": "Lazy-loading Images",
        "description": "An image loaded when the user scrolls down to its location on the page.",
        "background": "light",
        "code": `<img data-emergence="hidden" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="/img/FPO.png 1x, /img/FPO@2x.png 2x" data-width="1000" data-height="1000" alt="For Placement Only">`
    }); %>
<% } %>

<% if (modules.lazy_load_iframe) { %>
    <% moduleTemplates.push({
        "title": "Lazy-loading Images",
        "description": "An image loaded when the user scrolls down to its location on the page.",
        "background": "light",
        "code": `<div class="video">
    <iframe data-lazy-load width="853" height="480" data-src="https://www.youtube.com/embed/-tPLRTt965k?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>`
    }); %>
<% } %>

<% if (modules.video) { %>
    <% moduleTemplates.push({
        "title": "Lazy-loading Images",
        "description": "An image loaded when the user scrolls down to its location on the page.",
        "background": "light",
        "code": `<img data-emergence="hidden" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="/img/FPO.png 1x, /img/FPO@2x.png 2x" data-width="1000" data-height="1000" alt="For Placement Only">`
    }); %>
<% } %>

<% if (modules.lazy_load_video) { %>
    <% moduleTemplates.push({
        "title": "Lazy-loading Images",
        "description": "An image loaded when the user scrolls down to its location on the page.",
        "background": "light",
        "code": `<img data-emergence="hidden" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="/img/FPO.png 1x, /img/FPO@2x.png 2x" data-width="1000" data-height="1000" alt="For Placement Only">`
    }); %>
<% } %>

<%- include('partials/_wrapper', {"activeItem": currentSection, "modules": moduleTemplates, "sections": styleTemplateConfig.sections, "siteRoot": site_root, "styleTemplatePrefix": styleTemplatePrefix, "styleTemplateSuffix": styleTemplateSuffix}) %>