<% const currentSection = 'tables' %>
<% const modules = styleTemplateConfig.sections.tables.modules %>
<% const moduleTemplates = [] %>

<% if (modules.element) { %>
    <% moduleTemplates.push({
        "title": "Default Table",
        "description": "A normal table of varying columns and rows.",
        "background": "light",
        "code": '<table>' +
        '\n    <thead>' +
        '\n        <tr>' +
        '\n            <th scope="col">Ingredients</th>' +
        '\n            <th scope="col">Serves 12</th>' +
        '\n            <th scope="col">Serves 24</th>' +
        '\n        </tr>' +
        '\n    </thead>' +
        '\n    <tbody>' +
        '\n        <tr>' +
        '\n            <td>Milk</td>' +
        '\n            <td>1 quart</td>' +
        '\n            <td>2 quart</td>' +
        '\n        </tr>' +
        '\n        <tr>' +
        '\n            <td>Cinnamon Sticks</td>' +
        '\n            <td>2</td>' +
        '\n            <td>1</td>' +
        '\n        </tr>' +
        '\n        <tr>' +
        '\n            <td>Vanilla Bean, Split</td>' +
        '\n            <td>1</td>' +
        '\n            <td>2</td>' +
        '\n        </tr>' +
        '\n        <tr>' +
        '\n            <td>Cloves</td>' +
        '\n            <td>5</td>' +
        '\n            <td>10</td>' +
        '\n        </tr>' +
        '\n        <tr>' +
        '\n            <td>Mace</td>' +
        '\n            <td>10 blades</td>' +
        '\n            <td>20 blades</td>' +
        '\n        </tr>' +
        '\n        <tr>' +
        '\n            <td>Egg Yolks</td>' +
        '\n            <td>12</td>' +
        '\n            <td>24</td>' +
        '\n        </tr>' +
        '\n        <tr>' +
        '\n            <td>Cups Sugar</td>' +
        '\n            <td>1 ½ cups</td>' +
        '\n            <td>3 cups</td>' +
        '\n        </tr>' +
        '\n        <tr>' +
        '\n            <td>Dark Rum</td>' +
        '\n            <td>1 ½ cups</td>' +
        '\n            <td>3 cups</td>' +
        '\n        </tr>' +
        '\n        <tr>' +
        '\n            <td>Brandy</td>' +
        '\n            <td>1 ½ cups</td>' +
        '\n            <td>3 cups</td>' +
        '\n        </tr>' +
        '\n        <tr>' +
        '\n            <td>Vanilla</td>' +
        '\n            <td>1 tbsp</td>' +
        '\n            <td>2 tbsp</td>' +
        '\n        </tr>' +
        '\n        <tr>' +
        '\n            <td>Half-and-half or Light Cream</td>' +
        '\n            <td>1 quart</td>' +
        '\n            <td>2 quart</td>' +
        '\n        </tr>' +
        '\n        <tr>' +
        '\n            <td>Freshly grated nutmeg to taste</td>' +
        '\n            <td></td>' +
        '\n            <td></td>' +
        '\n        </tr>' +
        '\n    </tbody>' +
        '\n</table>'
    }); %>
<% } %>

<%- include('partials/_wrapper', {"activeItem": currentSection, "modules": moduleTemplates, "sections": styleTemplateConfig.sections, "styleTemplatePrefix": styleTemplatePrefix, "styleTemplateSuffix": styleTemplateSuffix}) %>