<% let component = {
  title: "Flex",
  description: "A new component.",
  background: "light",
  html: {
    code:
`<div class="c_flex">DEMO CODE</div>`
  }
} %>
<%- include(paths.starter.styleInventory + '_demo.ejs', { component: component, paths: paths, pkg: pkg, release: release }) %>