// ICONS
.icon_logo {
  display: block;
  width: 100px;
  height: 100px;
}

.nav_social {
  display: block;

  & > .icon {
    @include hide_text;
    display: inline-block;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: lighten($color_black_default, 50);
    background-size: 25px 25px;
    border-radius: 50%;

    &:hover {
      opacity: .8;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
