<!DOCTYPE html>
<% if (enable_font_events === 'true') { %>
<!--
SET COOKIE, THEN CHECK FOR IT AND ADD .fonts_loaded IF COOKIE IS SET
-->
<% } %>
<html class="no-js" lang="en">
<head>

  <%- include('../../ejs_includes/_head_meta') %>

  <!-- critcss -->
  <% if (critCssEnabled) { %><!-- SET COOKIE, THEN CHECK FOR IT. IF COOKIE IS FOUND, SKIP CRITCSS BECAUSE CSS FILE SHOULD ALREADY BE CACHED -->
  <style><%- include(critcsshome) %></style><% } else { %><!-- CRITICAL CSS --><% } %>

  <!-- styles -->
  <noscript>
    <!-- backup for critcss -->
    <link rel="stylesheet" href="<%= site_root %>css/all.css?v=<%= version %>">
  </noscript>

  <%- include('../../ejs_includes/_head_scripts') %>

  <%- include('../../ejs_includes/_head_tracking') %>
</head>
<body>

<div id="page">
  <%- include(styletemplateicons) %>
</div>

<%- include('../../ejs_includes/_body_bottom_scripts') %>
</body>
</html>