# MISC FILES
# https://github.com/github/gitignore/tree/master/Global
# ------------------------------------------------------------
.cache
.DS_Store
logs/*
Thumbs.db
yarn.lock

# BUILD FILES
_build/*
node_modules/*
EXTRAS/*