@mixin font-face;

::selection {
  @apply bg-black text-white;
}

html {
  @apply font-apple;
}
body {
  @apply bg-white leading-normal text-black;
}

button {
  @apply appearance-none;
}
figure {
  line-height: 0;
}
img {
  height: auto;
  max-width: 100%;
  width: 100%;
}
video {
  width: 100%;
}
/*Removes outline for mouse users, but keeps outline for keyboard users*/
:focus:not(:focus-visible) {
  outline: none;
}

/*Hide items with v-cloak attribute until Vue is loaded and ready to go*/
[v-cloak] {
  display: none;
}

/*Make element bright and easy to see that it needs to be swapped out during development*/
.fpo {
  @apply text-white;
  background-color: fuchsia;
  outline: 5px solid fuchsia;
}
