@import 'tailwindcss/base';
@import './_variables.pcss';
@import './_global.pcss';
@import './_animations.pcss';
@import 'tailwindcss/components';
@import './automated/_components.pcss';
@import 'tailwindcss/utilities';
