<% let intro = `
    <h2 class="c_header c_header--2">CSS Animations</h2>
    <p>Animations driven through CSS, based on modifiers.</p>
    <p>Use CSS modifiers found in <i>_animate.scss</i> in the following format to display an animation:<br><b>c_animate--</b>[animation category]<b>--</b>[animation attributes ...]</p>
    <p>For example, the class 'c_animate--rollover--pop--up' indicates that a 'pop' animation will occur on 'rollover'. The 'up' after 'pop' indicates which direction to slide to.</p>
    <p><i>NOTE: The class 'c_animate' (with no modifiers) isn‘t used and can be ignored.</i></p>
` %>
<%- include(paths.starter.styleInventory + '_intro.ejs', { text: intro }) %>

<% let component = {
  title: "CSS Rollover",
  description: "Effects added when an element is rolled over by a mouse or selected using tab.",
  background: "light",
  demo: {
    code:
`<div class="styles__box_wrapper">
  <div class="styles__box styles__box--flex c_animate--rollover--pop--up" tabindex="0">Roll over me.</div>
  <div class="styles__box styles__box--flex c_animate--rollover--pop--down" tabindex="0">Roll over me.</div>
  <div class="styles__box styles__box--flex c_animate--rollover--pop--forward" tabindex="0">Roll over me.</div>
</div>`
  },
  html: {
    code:
`<div class="c_animate--rollover--pop--up">Roll over me.</div>
<div class="c_animate--rollover--pop--down">Roll over me.</div>
<div class="c_animate--rollover--pop--forward">Roll over me.</div>`,
    modifiers: [
        'rollover--pop--up',
        'rollover--pop--down',
        'rollover--pop--forward',
    ]
  }
} %>
<%- include(paths.starter.styleInventory + '_demo.ejs', { component: component }) %>

<% component = {
  title: "CSS Click",
  description: "Effects added when an element is clicked on by a mouse.",
  background: "light",
  demo: {
    code:
`<div class="styles__box_wrapper">
  <div class="styles__box styles__box--flex c_animate--click--push--in">Click me.</div>
</div>`
  },
  html: {
    code:
`<div class="c_animate--click--push--in">Click me.</div>`,
    modifiers: [
      'click--push--in',
    ]
  }
} %>
<%- include(paths.starter.styleInventory + '_demo.ejs', { component: component }) %>