$_margin: 5px;
$_width: 30px;
$_height: 30px;
.c-social_nav {
  margin-right: -$_margin;
  margin-left: -$_margin;

  &__icon {

    display: inline-block;
    margin-right: $_margin;
    margin-left: $_margin;
    width: $_width;
    height: $_height;
  }

  svg {
    display: inline-block;
    margin-right: $_margin;
    margin-left: $_margin;
    width: $_width;
    height: $_height;
  }
}