# MISC FILES
# https://github.com/github/gitignore/tree/master/Global
# ------------------------------------------------------------
.cache
.DS_Store
.env
.idea
Thumbs.db
dist/*
logs/*
node_modules/*
vendor/*
src/.temp
\[CraftPreviewSlug\].vue