<% for (const scheme in pkg.colors) { -%>
<% if (scheme !== 'default') { -%>
<div class="styles__example__title"><h2><%- scheme.toUpperCase() %></h2></div>
<% } %>
<div class="styles__color_swatches">
    <% Object.keys(pkg.colors[scheme]).forEach(function(item) { %>
    <div class="styles__color_swatch" style="--style-color-swatch-color: <%- pkg.colors[scheme][item] %>;">
        <div class="styles__color_swatch__color"></div>
        <div class="styles__color_swatch__variable">$color_<%- item %></div>
        <div class="styles__color_swatch__value"><%- pkg.colors[scheme][item] %></div>
    </div>
    <% }) %>
</div>
<% } %>