$color_dev_black: rgb(43, 48, 59);
$color_dev_black_border: lighten($color_dev_black, 35);
$color_dev_black_bg: lighten($color_dev_black, 15);
$color_dev_grey: rgb(211, 220, 231);
$color_dev_grey_links: lighten($color_dev_grey, 20);
$color_dev_grey_outline: $color_dev_grey;
$color_dev_grey_text: darken($color_dev_grey, 20);
$color_dev_white: rgb(255, 255, 255);
$color_dev_red_default: rgb(188, 66, 0);
$color_dev_green: rgb(211, 231, 220);
$color_dev_green_text: darken($color_dev_green, 20);
$color_dev_demo_active: rgb(6, 187, 27);

$padding_dev_spacing: 20px;
$border_radius: 4px;

.styles {
  $self: &;

  @at-root #{$self}__menu {
    display: flex;
    flex-flow: row wrap;
    background-color: $color_dev_black;
    box-sizing: border-box;
    color: $color_dev_grey;

    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
      flex: 1 1 140px;
      padding: $padding_dev_spacing;
      box-sizing: border-box;
      text-align: center;
      text-decoration: none;
      color: $color_dev_grey_links;
      transition: color .2s ease-out, background .2s ease-out;

      @at-root #{&}__active_spacer, & > #{&}__active_indicator {
        display: block;
        width: 6px;
        height: 6px;
      }
      @at-root #{&}__active_spacer {
        bottom: 2px;
      }
      @at-root #{&}__active_indicator {
        margin-top: 2px;
        background-image: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.6 10.6"><defs><style>.cls-1{fill:#7a869e;}</style></defs><title>Untitled-1</title><circle class="cls-1" cx="5.3" cy="5.3" r="5.3"/></svg>');
      }
      &.active {
        color: $color_dev_black_border;
      }
      &:not(.active):hover {
        background-color: $color_dev_black_bg;
        color: lighten($color_dev_black, 60);
      }
    }
  }
  @at-root #{$self}__box_wrapper {
    display: grid;
    grid-gap: $padding_dev_spacing;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 200px;
    perspective: 800px;
  }
  @at-root #{$self}__box {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 200px;
    box-sizing: border-box;
    background-color: $color_dev_red_default;
    color: $color_dev_white;

    &.active {
      background-color: $color_dev_demo_active;
    }
    @at-root #{&}--clear {
      background-color: transparent;
      color: $color_dev_black;
    }
    @at-root #{&}--flex, #{&}__flex {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @at-root #{&}--flex {
      display: inline-flex;
    }
    @at-root #{&}--padding, #{&}__padding {
      padding: 20px;
    }
  }
  @at-root #{$self}__color_swatches {
    display: grid;
    grid-gap: $padding_dev_spacing;
    grid-template-columns: repeat(auto-fit, 170px);
    grid-auto-rows: 230px;
  }
  @at-root #{$self}__color_swatch {
    padding: 12px;
    //border: 1px solid lighten($color_dev_black, 76);
    box-shadow: 0 2px 10px transparentize($color_dev_black, .8);
    box-sizing: border-box;

    @at-root #{&}__color {
      margin-bottom: 6px;
      padding-top: 100%;
      position: relative;
      background-color: var(--style-color-swatch-color);
    }
    @at-root #{&}__variable, #{&}__value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @at-root #{&}__variable {
      margin-bottom: 2px;
      font-weight: 700;
      font-size: .7rem;
      color: $color_dev_black;
    }
    @at-root #{&}__value {
      font-size: .6rem;
      color: $color_dev_black;
    }
  }
  @at-root #{$self}__example {
    display: block;
    margin-bottom: 60px;

    @at-root #{&}__title {
      display: block;
      padding: 0 $padding_dev_spacing;
      box-sizing: border-box;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 1.2rem;
    }
    @at-root #{&}__description {
      display: block;
      padding: 0 $padding_dev_spacing;
      box-sizing: border-box;
      margin-bottom: 16px;
      font-size: .9rem;

      a {
        font-weight: 500;
        color: $color_dev_black;
      }
    }
    @at-root #{&}__display {
      display: block;
      padding: $padding_dev_spacing;
      box-sizing: border-box;
      border: 1px solid transparentize($color_dev_grey_outline, .3);
      border-radius: $border_radius $border_radius 0 0;
    }
    @at-root #{&}__code {
      display: block;
      padding: $padding_dev_spacing;
      background-color: transparentize($color_dev_grey_outline, .7);
      box-sizing: border-box;
      border: 1px solid transparentize($color_dev_grey_outline, .3);
      border-top: none;
      font-size: 14px;
      color: $color_dev_grey_text;
      z-index: 10;

      ::selection {
        background-color: $color_dev_grey_text;
      }
      &:last-child {
        border-radius: 0 0 $border_radius $border_radius;
      }
      @at-root #{&}--twig {
        background-color: transparentize($color_dev_green, .7);
        border-color: transparentize($color_dev_green, .3);;
        color: $color_dev_green_text;

        ::selection {
          background-color: $color_dev_green_text;
        }
      }
      & > pre {
        & > code {
          white-space: pre-wrap;
        }
      }
    }
    @at-root #{&}__table {
      width: 100%;

      td {
        padding: .4em $padding_dev_spacing;
        font-size: .8rem;
        border: 1px solid transparentize($color_dev_grey_outline, .3);
        background-color: transparentize($color_dev_grey_outline, .4);
        color: transparentize($color_dev_black, .3);

        b {
          font-weight: bold;
        }
      }

      thead {
        td {
          background-color: transparentize($color_dev_grey_outline, .1);
          color: $color_dev_black;
        }
      }
    }

    // SPECIAL OVERRIDES
    .c_slider:not(.c_image_slider__slider) .c_slider__slide__content {
      @extend #{$self}__box_wrapper;

      & > div {
        @extend #{$self}__box;
        @extend #{$self}__box--flex;
      }
    }
  }

  @at-root #{$self}__color_swatch {

  }
}