.c_message {
  $self: &;

  display: block;
  padding: 25px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: $color_white;

  @at-root #{$self}--success {
    border-color: $color_alert_success;
    background-color: transparentize(lighten($color_alert_success_raw, 20), .1);
    color: lighten($color_alert_success_raw, 50);
  }
  @at-root #{$self}--error {
    border-color: $color_alert_error;
    background-color: transparentize(lighten($color_alert_error_raw, 20), .1);
    color: lighten($color_alert_error_raw, 50);
  }
  @at-root #{$self}--warning {
    border-color: $color_alert_warning;
    background-color: transparentize(lighten($color_alert_warning_raw, 20), .1);
    color: darken($color_alert_warning_raw, 10);
  }
}