# OS AND CODE EDITORS
.DS_Store
.idea
.vscode

# CRAFT DEFAULTS
.env
vendor

# BUILD FILES
.cache
_build/*
node_modules/*
Thumbs.db
yarn.lock
storage/backups
storage/logs
storage/runtime

# USER UPLOADS
web/u/*
web/uploads/*
web/imager/*
web/resized/*
web/cpresources/*
backups/*