# The name of the site as seen throughout the CMS
SITE_NAME="<%- install.cmsSiteName %>"

# The environment Craft is currently running in ('dev', 'staging', 'production', etc.)
ENVIRONMENT=dev

# Turn system on or off using .env file
IS_SYSTEM_LIVE=true

# Overriding Craft‘s default config settings
BASE_PATH=/var/www/html/web
BASE_URL=https://<%- handle %>-dist.ddev.site
BASE_ASSET_PATH=/var/www/html/web/u
BASE_ASSET_URL=https://<%- handle %>-dist.ddev.site/u

# Base URLs per locale
PRIMARY_SITE_URL=https://<%- handle %>-dist.ddev.site

# Database settings (set as needed)
DB_DRIVER=mysql
DB_SERVER=db
DB_USER=db
DB_PASSWORD=db
DB_DATABASE=db
DB_SCHEMA=public
DB_TABLE_PREFIX=craft
DB_PORT=3306

# Email settings (set as needed)
EMAIL_SYSTEM_EMAIL_ADDRESS=<%- install.cmsAdminEmail %>
EMAIL_SENDER_NAME=
EMAIL_HOST_NAME=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY=

# The application ID used to to uniquely store session and cache data, mutex locks, and more
APP_ID=