<% for (const font in wb.fonts) { %><% if (wb.fonts[font].files !== undefined) { %>@font-face {
  font-family: <%- wb.fonts[font].fontFamily %>;
  src: url('<%= wb.fonts[font].files.eot %>');
  src: url('<%= wb.fonts[font].files.eot %>?#iefix') format('embedded-opentype')<% if (wb.fonts[font].files.woff2 !== undefined) { %>,
  url('<%= wb.fonts[font].files.woff2 %>') format('woff2')<% } %><% if (wb.fonts[font].files.woff !== undefined) { %>,
url('<%= wb.fonts[font].files.woff %>') format('woff')<% } %>;
  font-display: <%= wb.fonts[font].fontDisplay || 'swap' %>;
  font-style: <%= wb.fonts[font].fontStyle || 'normal' %>;
  font-weight: <%= wb.fonts[font].fontWeight || 'normal' %>;
}
<% }; -%>
<% }; -%>