@mixin automated_fonts {<% for (const font in wb.fonts) { %><% if (wb.fonts[font].files !== undefined) { %>
  @font-face {
    font-family: <%- wb.fonts[font].fontFamily %>;
    src: url('<%= wb.fonts[font].files.eot %>');
    src: url('<%= wb.fonts[font].files.eot %>?#iefix') format('embedded-opentype')<% if (wb.fonts[font].files.woff2 !== undefined) { %>,
    url('<%= wb.fonts[font].files.woff2 %>') format('woff2')<% } %><% if (wb.fonts[font].files.woff !== undefined) { %>,
  url('<%= wb.fonts[font].files.woff %>') format('woff')<% } %>;
    font-display: <%= wb.fonts[font].fontDisplay || 'swap' %>;
    font-style: <%= wb.fonts[font].fontStyle || 'normal' %>;
    font-weight: <%= wb.fonts[font].fontWeight || 'normal' %>;
  }
<% }; -%>
<% }; -%>
}

// Embed fonts from font service or hosted locally
@mixin font($font_name) {
  $font_family: '';
  $font_fallbacks: sans-serif !default;
  $font_weight: normal !default;
  $font_style: normal !default;
<% first = true %><% for (const font in wb.fonts) { %>
  @<% if (!first) { %>else <% } %>if $font_name == '<%- font %>' {
    $font_family: <%- wb.fonts[font].fontFamily %>;
    $font_fallbacks: <%- wb.fonts[font].fallbackStack || '' %>;
    $font_style: <%- wb.fonts[font].fontStyle || 'normal' %>;
    $font_weight: <%- wb.fonts[font].fontWeight || 'normal' %>;
  }<% first = false %><% }; %>

  font: {
    family: $font_family, $font_fallbacks;
    weight: $font_weight;
    style: $font_style;
  }
}