.c-line {
  --margin: var(--margin-top, 20px) 0 var(--margin-bottom, 20px);
  --width: 100%;
  --height: #{$line_thickness};
  --max-width: 100%;
  --max-height: #{$line_thickness};

  width: var(--width);
  height: var(--height);
  max-width: var(--max-width);
  max-height: var(--max-height);
  background-color: $color_black;

  &--margin {
    margin: var(--margin);
  }
  &--vertical {
    --width: #{$line_thickness};
    --max-width: #{$line_thickness};
  }
}