:root {
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-alert_success: rgb(45, 176, 51);
  --color-alert_error: rgb(176, 25, 22);
  --color-alert_warning: rgb(238, 199, 0);
}

.icon_close {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNy4yIDI3LjEzIj48cGF0aCBkPSJNMjcuMTIgMjMuMzFsLTkuNzQtOS43NSA5LjczLTkuNzRMMjMuMy4wMWwtOS43NCA5Ljc0TDMuODIgMCAwIDMuODJsOS43NCA5Ljc1LTkuNzMgOS43NCAzLjgxIDMuODEgOS43NC05Ljc0IDkuNzQgOS43NSAzLjgyLTMuODJ6IiBzdHlsZT0iIi8+PC9zdmc+");
}

.icon_location {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAzNi44MSI+PHBhdGggZD0iTTEyLjU4IDBTMC0uMzIgMCAxMi4zYzAgOS4yOCAxMi41OCAyNC41MSAxMi41OCAyNC41MVMyNS4xNiAyMS41OCAyNS4xNiAxMi4zQzI1LjE2LS4zMiAxMi41OCAwIDEyLjU4IDB6bTAgMTcuODdhNC44IDQuOCAwIDEgMSA0LjgtNC44IDQuOCA0LjggMCAwIDEtNC44IDQuOHoiIHN0eWxlPSIiLz48L3N2Zz4=");
}

.icon_minus {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNy4zOSA0LjQ5Ij48cGF0aCBkPSJNMCAwaDI3LjM5djQuNDlIMHoiIHN0eWxlPSIiLz48L3N2Zz4=");
}

.icon_plus {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNy40IDI3LjM5Ij48cGF0aCBkPSJNMjcuNCAxMS40NUgxNS45NFYwaC00LjQ4djExLjQ1SDB2NC40OWgxMS40NnYxMS40NWg0LjQ4VjE1Ljk0SDI3LjR2LTQuNDl6IiBzdHlsZT0iIi8+PC9zdmc+");
}

:root {
  --spacing-box: 50px;
  --spacing-text: 30px;
  --max-width: 1100px;
  --max-width-text: 700px;
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.enhanced .c_animate--click--push_in {
  transition: transform 0.3s ease-out;
}

.enhanced .c_animate--click--push_in:active {
  transform: translateY(3%) scale(0.92, 0.92);
}

.enhanced .c_animate--rollover--pop--up {
  transition: transform 0.3s ease-out;
}

.enhanced .c_animate--rollover--pop--up:hover {
  transform: translateY(-6%);
}

.enhanced .c_animate--rollover--pop--down {
  transition: transform 0.3s ease-out;
}

.enhanced .c_animate--rollover--pop--down:hover {
  transform: translateY(6%);
}

.enhanced .c_animate--rollover--pop--forward {
  transition: transform 0.3s ease-out;
}

.enhanced .c_animate--rollover--pop--forward:hover {
  transform: translateY(-8%) scale(1.08, 1.08);
}

.enhanced .c_animate--rollover--scale {
  position: relative;
  overflow: hidden;
}

.enhanced .c_animate--rollover--scale > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.enhanced .c_animate--rollover--scale__background {
  transition: transform 0.3s ease-out;
}

.enhanced .c_animate--rollover--scale:hover > .c_animate--rollover--scale__background {
  transform: scale(1.25, 1.25);
}

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, main, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, main, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

::selection {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-white);
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Avinir Next", "Avinir", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  background-color: var(--color-white);
  color: var(--color-black);
}

button {
  appearance: none;
}

figure {
  line-height: 0;
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

video {
  width: 100%;
}

[v-cloak] {
  display: none;
}

.fpo {
  background-color: fuchsia;
  outline: 5px solid fuchsia;
  color: var(--color-white);
}

.c_alert_bar {
  background-color: var(--color-alert_error);
  color: var(--color-white);
}

.c_alert_bar__summary {
  padding: 15px;
  text-align: center;
}

.c_alert_bar--message .c_alert_bar__summary {
  cursor: pointer;
}

.c_alert_bar__message {
  padding: 15px;
  background-color: rgba(232, 72, 68, 0.9);
}

.c_alert_bar.active .c_alert_bar__message {
  display: block;
}

.c_audio audio {
  width: 100%;
}

.c_button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: .8em 20px .7em;
  width: 100%;
  max-width: 300px;
  background-color: var(--color-black);
  border: none;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1;
  color: var(--color-white);
}

.c_button:hover {
  opacity: .7;
}

.c_buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  grid-gap: 20px;
}

.c_buttons--center {
  text-align: center;
}

.c_buttons--margin {
  margin-top: var(--spacing-text);
  margin-bottom: var(--spacing-text);
}

.c_buttons--margin--auto {
  margin-right: auto;
  margin-left: auto;
}

.c_buttons--margin--top {
  margin-top: var(--spacing-text);
}

.c_buttons--margin--right {
  margin-right: var(--spacing-text);
}

.c_buttons--margin--bottom {
  margin-bottom: var(--spacing-text);
}

.c_buttons--margin--left {
  margin-left: var(--spacing-text);
}

.c_buttons--padding {
  padding-top: var(--spacing-text);
  padding-bottom: var(--spacing-text);
}

.c_buttons--padding--top {
  padding-top: var(--spacing-text);
}

.c_buttons--padding--right {
  padding-right: var(--spacing-text);
}

.c_buttons--padding--bottom {
  padding-bottom: var(--spacing-text);
}

.c_buttons--padding--left {
  padding-left: var(--spacing-text);
}

.c_buttons--left {
  justify-content: flex-start;
}

.c_buttons--center {
  justify-content: center;
}

.c_buttons--right {
  justify-content: flex-end;
}

.c_form_input {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"] {
  display: block;
  width: 100%;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="url"]::placeholder {
  color: var(--color-black);
}

.c_form_input textarea {
  display: block;
  width: 100%;
}

.c_form_input textarea::placeholder {
  color: var(--color-black);
}

.c_form_input__required_indicator {
  display: inline-block;
  margin-left: .3em;
  font-size: .9em;
  color: var(--color-alert_error);
  transform: translateY(-0.1em);
}

.c_form_input__error {
  font-size: .8em;
  color: var(--color-alert_error);
}

.c_form_input--hidden {
  text-indent: -99999px;
  margin-bottom: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.c_form_input--invalid {
  background-color: #f3a19f;
  border-color: var(--color-alert_error);
}

.c_form--center {
  text-align: center;
}

.c_form--margin {
  margin-top: var(--spacing-text);
  margin-bottom: var(--spacing-text);
}

.c_form--margin--auto {
  margin-right: auto;
  margin-left: auto;
}

.c_form--margin--top {
  margin-top: var(--spacing-text);
}

.c_form--margin--right {
  margin-right: var(--spacing-text);
}

.c_form--margin--bottom {
  margin-bottom: var(--spacing-text);
}

.c_form--margin--left {
  margin-left: var(--spacing-text);
}

.c_form--padding {
  padding-top: var(--spacing-text);
  padding-bottom: var(--spacing-text);
}

.c_form--padding--top {
  padding-top: var(--spacing-text);
}

.c_form--padding--right {
  padding-right: var(--spacing-text);
}

.c_form--padding--bottom {
  padding-bottom: var(--spacing-text);
}

.c_form--padding--left {
  padding-left: var(--spacing-text);
}

.c_form--flex {
  display: flex;
  flex-flow: row wrap;
}

.c_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.c_grid--center {
  text-align: center;
}

.c_grid--margin {
  margin-top: var(--spacing-text);
  margin-bottom: var(--spacing-text);
}

.c_grid--margin--auto {
  margin-right: auto;
  margin-left: auto;
}

.c_grid--margin--top {
  margin-top: var(--spacing-text);
}

.c_grid--margin--right {
  margin-right: var(--spacing-text);
}

.c_grid--margin--bottom {
  margin-bottom: var(--spacing-text);
}

.c_grid--margin--left {
  margin-left: var(--spacing-text);
}

.c_grid--padding {
  padding-top: var(--spacing-text);
  padding-bottom: var(--spacing-text);
}

.c_grid--padding--top {
  padding-top: var(--spacing-text);
}

.c_grid--padding--right {
  padding-right: var(--spacing-text);
}

.c_grid--padding--bottom {
  padding-bottom: var(--spacing-text);
}

.c_grid--padding--left {
  padding-left: var(--spacing-text);
}

@media (min-width: 700px) {
  .c_grid--2_column {
    grid-template-columns: repeat(2, 1fr);
  }
  .c_grid--3_column {
    grid-template-columns: repeat(3, 1fr);
  }
  .c_grid--4_column {
    grid-template-columns: repeat(4, 1fr);
  }
}

.c_header--center {
  text-align: center;
}

.c_header--margin {
  margin-top: var(--spacing-text);
  margin-bottom: var(--spacing-text);
}

.c_header--margin--auto {
  margin-right: auto;
  margin-left: auto;
}

.c_header--margin--top {
  margin-top: var(--spacing-text);
}

.c_header--margin--right {
  margin-right: var(--spacing-text);
}

.c_header--margin--bottom {
  margin-bottom: var(--spacing-text);
}

.c_header--margin--left {
  margin-left: var(--spacing-text);
}

.c_header--padding {
  padding-top: var(--spacing-text);
  padding-bottom: var(--spacing-text);
}

.c_header--padding--top {
  padding-top: var(--spacing-text);
}

.c_header--padding--right {
  padding-right: var(--spacing-text);
}

.c_header--padding--bottom {
  padding-bottom: var(--spacing-text);
}

.c_header--padding--left {
  padding-left: var(--spacing-text);
}

.c_header--1 {
  font-family: "", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
  font-size: 8vw;
}

@media (min-width: 900px) {
  .c_header--1 {
    font-size: 4rem;
  }
}

.c_header--2 {
  font-family: "", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  font-size: 4vw;
}

@media (min-width: 700px) {
  .c_header--2 {
    font-size: 2rem;
  }
}

.c_image_bg {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.c_image_bg__image, .c_image_bg img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-50%) translateY(-50%);
}

.c_image_slider {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vw auto;
}

.c_image_slider__slider {
  width: 100%;
  height: 100%;
}

.c_image_slider__slide {
  position: relative;
}

.c_image_slider__slide__background, .c_image_slider__slide__middle, .c_image_slider__slide__foreground, .c_image_slider__slide__url_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c_image_slider__slide__background {
  z-index: 1;
}

.c_image_slider__slide__middle {
  z-index: 2;
}

.c_image_slider__slide__foreground {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.c_image_slider__slide__url_mask {
  z-index: 4;
}

.c_message {
  display: block;
  padding: 25px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: var(--color-white);
}

.c_message--success {
  border-color: var(--color-alert_success);
  background-color: rgba(106, 217, 111, 0.9);
  color: #e4f8e5;
}

.c_message--error {
  border-color: var(--color-alert_error);
  background-color: rgba(232, 72, 68, 0.9);
  color: #f9cdcc;
}

.c_message--warning {
  border-color: var(--color-alert_warning);
  background-color: rgba(255, 227, 85, 0.9);
  color: #bb9c00;
}

.c_social_nav {
  margin-right: -5px;
  margin-left: -5px;
}

.c_social_nav__icon {
  text-indent: -99999px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
}

.c_social_nav svg {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
}

.c_text--center {
  text-align: center;
}

.c_text--margin {
  margin-top: var(--spacing-text);
  margin-bottom: var(--spacing-text);
}

.c_text--margin--auto {
  margin-right: auto;
  margin-left: auto;
}

.c_text--margin--top {
  margin-top: var(--spacing-text);
}

.c_text--margin--right {
  margin-right: var(--spacing-text);
}

.c_text--margin--bottom {
  margin-bottom: var(--spacing-text);
}

.c_text--margin--left {
  margin-left: var(--spacing-text);
}

.c_text--padding {
  padding-top: var(--spacing-text);
  padding-bottom: var(--spacing-text);
}

.c_text--padding--top {
  padding-top: var(--spacing-text);
}

.c_text--padding--right {
  padding-right: var(--spacing-text);
}

.c_text--padding--bottom {
  padding-bottom: var(--spacing-text);
}

.c_text--padding--left {
  padding-left: var(--spacing-text);
}

.c_text p {
  margin-bottom: var(--spacing-text);
  line-height: 1.6;
}

.c_text p:last-child {
  margin-bottom: 0;
}

.c_text p b, .c_text p strong {
  font-family: "", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.c_text p i, .c_text p em {
  font-family: "", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.c_text p b i, .c_text p i b, .c_text p strong em, .c_text p em strong {
  font-family: "", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.c_text ol, .c_text ul {
  margin-bottom: var(--spacing-text);
}

.c_text ol:last-child, .c_text ul:last-child {
  margin-bottom: 0;
}

.c_text ol li, .c_text ul li {
  margin-bottom: .6em;
  margin-left: 1.5em;
  break-inside: avoid;
}

@media (min-width: 500px) {
  .c_text--2_column_lists.c_text ol {
    column-count: 2;
    column-gap: 50px;
  }
}

@media (min-width: 500px) {
  .c_text--2_column_lists.c_text ul {
    column-count: 2;
    column-gap: 50px;
  }
}

.c_text ul li {
  list-style: disc outside;
}

.c_video_bg {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.c_video_bg__video, .c_video_bg__video video {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-50%) translateY(-50%);
}

.c_video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.c_video iframe, .c_video object, .c_video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c_wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-box);
  padding-right: var(--spacing-box);
  max-width: var(--max-width);
}

.c_wrapper--center {
  text-align: center;
}

.c_wrapper--margin {
  margin-top: var(--spacing-text);
  margin-bottom: var(--spacing-text);
}

.c_wrapper--margin--auto {
  margin-right: auto;
  margin-left: auto;
}

.c_wrapper--margin--top {
  margin-top: var(--spacing-text);
}

.c_wrapper--margin--right {
  margin-right: var(--spacing-text);
}

.c_wrapper--margin--bottom {
  margin-bottom: var(--spacing-text);
}

.c_wrapper--margin--left {
  margin-left: var(--spacing-text);
}

.c_wrapper--padding {
  padding-top: var(--spacing-text);
  padding-bottom: var(--spacing-text);
}

.c_wrapper--padding--top {
  padding-top: var(--spacing-text);
}

.c_wrapper--padding--right {
  padding-right: var(--spacing-text);
}

.c_wrapper--padding--bottom {
  padding-bottom: var(--spacing-text);
}

.c_wrapper--padding--left {
  padding-left: var(--spacing-text);
}

.c_wrapper--no_padding {
  padding-left: 0;
  padding-right: 0;
}

.c_wrapper--text {
  max-width: var(--max-width-text);
}
