<% const currentSection = 'grid' %>
<% const modules = styleTemplateConfig.sections.grid.modules %>
<% const moduleTemplates = [] %>

<% const intro = false %>

<% if (modules.holy_grail) { %>
<% moduleTemplates.push({
    "title": "Holy Grail Layout",
    "description": "Basic page layout that includes a header, sidebar, and footer.",
    "background": "light",
    "demoCode":
`<div class="grid_holy_grail">
    <header class="header styles_demo_box flex" style="display: flex; width: auto;">Header</header>
    <article class="main styles_demo_box flex" style="display: flex; width: auto;">Main</article>
    <aside class="sidebar styles_demo_box flex" style="display: flex; width: auto;">Sidebar</aside>
    <footer class="footer styles_demo_box flex" style="display: flex; width: auto;">Footer</footer>
</div>`,
    "code":
`<div class="grid_holy_grail">
    <header class="header">
        <p>Header</p>
    </header>
    <article class="main">
        <p>Main</p>
    </article>
    <aside class="sidebar">
        <p>Sidebar</p>
    </aside>
    <footer class="footer">
        <p>Footer</p>
    </footer>
</div>`
}); %>
<% } %>

<%- include('partials/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": moduleTemplates, "sections": styleTemplateConfig.sections, "siteRoot": site_root, "styleTemplatePrefix": styleTemplatePrefix, "styleTemplateSuffix": styleTemplateSuffix}) %>