<% const currentSection = 'icons' %>
<% const modules = styleTemplateConfig.sections.icons.modules %>
<% const moduleTemplates = [] %>

<% const intro = false %>

<% if (modules.logo_color) { %>
    <% moduleTemplates.push({
        "title": "Logo",
        "description": "The logo for the client as it appears on the site.",
        "background": "light",
        "twigCode": '<a class="icon icon_logo" href="{{ siteUrl }}"></a>',
        "code": '<a class="icon icon_logo" href="/"></a>'
    }); %>
<% } %>

<% if (modules.social_media_default) { %>
    <% moduleTemplates.push({
        "title": "Social Media Icons",
        "description": `Social Media icon links. The Twig code require the <a href="https://github.com/nystudio107/seomatic">SEOMatic Craft Plugin</a>`,
        "background": "dark",
        "twigCode":
`{% macro socialNav() %}
    <nav class="nav_social">{% spaceless %}
        {% if seomaticSocial.facebookUrl ?? false %}<a href="{{ seomaticSocial.facebookUrl }}" target="_blank" class="icon icon_social_facebook" title="Facebook">Facebook</a>{% endif %}
        {% if seomaticSocial.twitterUrl ?? false %}<a href="{{ seomaticSocial.twitterUrl }}" target="_blank" class="icon icon_social_twitter" title="Twitter">Twitter</a>{% endif %}
        {% if seomaticSocial.instagramUrl ?? false %}<a href="{{ seomaticSocial.instagramUrl }}" target="_blank" class="icon icon_social_instagram" title="Instagram">Instagram</a>{% endif %}
        {% if seomaticSocial.linkedinUrl ?? false %}<a href="{{ seomaticSocial.linkedInUrl }}" target="_blank" class="icon icon_social_linkedin" title="LinkedIn">LinkedIn</a>{% endif %}
        {% if seomaticSocial.youtubeUrl ?? false %}<a href="{{ seomaticSocial.youtubeUrl }}" target="_blank" class="icon icon_social_youtube" title="YouTube">YouTube</a>{% endif %}
    {% endspaceless %}</nav>
{% endmacro %}`,
        "code":
`<nav class="nav_social">
    <a href="https://www.facebook.com/username" target="_blank" class="icon icon_social_facebook" title="Facebook">Facebook</a>
    <a href="https://twitter.com/username" target="_blank" class="icon icon_social_twitter" title="Twitter">Twitter</a>
    <a href="https://www.instagram.com/username" target="_blank" class="icon icon_social_instagram" title="Instagram">Instagram</a>
    <a href="https://www.linkedin.com/company/username" target="_blank" class="icon icon_social_linkedin" title="LinkedIn">LinkedIn</a>
    <a href="https://www.youtube.com/user/username" target="_blank" class="icon icon_social_youtube" title="YouTube">YouTube</a>
</nav>`
    }); %>
<% } %>

<%- include('partials/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": moduleTemplates, "sections": styleTemplateConfig.sections, "siteRoot": site_root, "styleTemplatePrefix": styleTemplatePrefix, "styleTemplateSuffix": styleTemplateSuffix}) %>