<% const currentSection = 'media' %>
<% const modules = styleTemplateConfig.sections.media.modules %>
<% const moduleTemplates = [] %>

<% const intro = false %>

<% if (modules.audio) { %>
    <% moduleTemplates.push({
        "title": "Audio",
        "description": "Plays an audio file using default browser controls.",
        "background": "light",
        "code": `<audio src="https://starter.wbrowar.com/audio/clip.mp3" controls></audio>`
    }); %>
<% } %>

<% if (modules.lazy_load_audio) { %>
    <% moduleTemplates.push({
        "title": "Lazy-Loading Audio File",
        "description": "Plays an audio file using default browser controls. Waits until user has scrolled down to the element to load the audio file.",
        "background": "light",
        "twigCode":
`{% set file = block.file.first() %}
<audio data-lazy-load data-src="{{ file.url }}" controls></audio>
<noscript><audio src="{{ file.url }}" controls></audio></noscript>`,
        "code":
`<audio data-lazy-load data-src="https://starter.wbrowar.com/audio/clip.mp3" controls></audio>
<noscript><audio src="https://starter.wbrowar.com/audio/clip.mp3" controls></audio></noscript>`
    }); %>
<% } %>

<% if (modules.iframe) { %>
    <% moduleTemplates.push({
        "title": "Iframe",
        "description": "An iframe used to embed video content. Wraps the iframe in a `video` class to resize video in a 16:9 ratio.",
        "background": "light",
        "code":
`<div class="video">
    <iframe src="https://www.youtube.com/embed/G4Sn91t1V4g?rel=0&amp;controls=0&amp;showinfo=0" width="853" height="480" frameborder="0" allowfullscreen></iframe>
</div>`
    }); %>
<% } %>

<% if (modules.lazy_load_iframe) { %>
    <% moduleTemplates.push({
        "title": "Lazy-Loading Iframe",
        "description": "An iframe used to embed video content. Wraps the iframe in a `video` class to resize video in a 16:9 ratio. Waits until user has scrolled down to the element to load iframe content.",
        "background": "light",
        "twigCode":
`{% set videoId = block.videoId %}
<div class="video">
    <iframe data-lazy-load data-src="https://www.youtube.com/embed/{{ videoId }}?rel=0&amp;controls=0&amp;showinfo=0" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
    <noscript><iframe src="https://www.youtube.com/embed/{{ videoId }}?rel=0&amp;controls=0&amp;showinfo=0" width="853" height="480"  frameborder="0" allowfullscreen></iframe></noscript>
</div>`,
        "code":
`<div class="video">
    <iframe data-lazy-load data-src="https://www.youtube.com/embed/G4Sn91t1V4g?rel=0&amp;controls=0&amp;showinfo=0" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
    <noscript><iframe src="https://www.youtube.com/embed/G4Sn91t1V4g?rel=0&amp;controls=0&amp;showinfo=0" width="853" height="480"  frameborder="0" allowfullscreen></iframe></noscript>
</div>`
    }); %>
<% } %>

<% if (modules.video) { %>
    <% moduleTemplates.push({
        "title": "Video",
        "description": "Plays a video file. To allow users to control the video, add the `controls` attribute to the `video` tag.",
        "background": "light",
        "code":
`<div class="video">
    <video src="https://starter.wbrowar.com/video/clip.mp4"></video>
</div>`
    }); %>
<% } %>

<% if (modules.lazy_load_video) { %>
    <% moduleTemplates.push({
        "title": "Lazy-loading Images",
        "description": "Plays a video file. To allow users to control the video, add the `controls` attribute to the `video` tag. Waits until user has scrolled down to the element to load the video file.",
        "background": "light",
        "twigCode":
`{% set file = block.file.first() %}
<div class="video">
    <video data-lazy-load data-src="{{ file.url }}"></video>
    <noscript><video src="{{ file.url }}"></video></noscript>
</div>`,
        "code":
`<div class="video">
    <video data-lazy-load data-src="https://starter.wbrowar.com/video/clip.mp4"></video>
    <noscript><video src="https://starter.wbrowar.com/video/clip.mp4"></video></noscript>
</div>`
    }); %>
<% } %>

<% if (modules.background_video) { %>
    <% moduleTemplates.push({
        "title": "Video Background",
        "description": "Fills the background of an element with a responsive video file that autoplays and loops.",
        "background": "light",
        "demoCode":
`<div class="styles_demo_box_wrapper">
    <div class="styles_demo_box" style="padding: 0;">
        <div class="video_bg" data-lazy-load data-bg-array='{ "class": "image_1", "css": [{ "url": "/img/FPO.png" },{ "retina": true, "url": "/img/FPO@2x.png" }] }'>
            <video class="video_bg_video" data-lazy-load data-src="https://starter.wbrowar.com/video/clip.mp4" preload autoplay muted loop></video>
        </div>
    </div>
</div>`,
        "twigCode":
`{% set videoUrls = ['https://starter.wbrowar.com/video/clip.mp4'] %}
<div class="video video__bg">
    {% if craft.request.isMobileBrowser(true) != 1 %}
        <video class="video_bg_video" src="{{ random(videoUrls) }}" preload autoplay muted loop></video>
    {% endif %}
</div>`,
        "code":
`<div class="video video__bg" data-lazy-load data-bg-array='{ "class": "image_1", "css": [{ "url": "/img/FPO.png" },{ "retina": true, "url": "/img/FPO@2x.png" }] }'>
    <video class="video_bg_video" data-lazy-load data-src="https://starter.wbrowar.com/video/clip.mp4" preload autoplay muted loop></video>
</div>`
    }); %>
<% } %>

<%- include('partials/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": moduleTemplates, "sections": styleTemplateConfig.sections, "siteRoot": site_root, "styleTemplatePrefix": styleTemplatePrefix, "styleTemplateSuffix": styleTemplateSuffix}) %>