<% const currentSection = 'nav' %>
<% const modules = styleTemplateConfig.sections.nav.modules %>
<% const moduleTemplates = [] %>

<% const intro = false %>

<% if (modules.mobile_nav_toggle) { %>
<% moduleTemplates.push({
    "title": "Mobile Nav Toggle",
    "description": "An example of `data-active-toggle`. This attribute can toggle an `active` class when the element is clicked. By setting the attribute to a query selector string, clicking this element will use `querySelectorAll` to toggle the `active` class on all applicable targets.",
    "background": "light",
    "demoCode":
`<button data-active-toggle="#mobile_nav .styles_demo_box">Toggle Mobile Nav</button>
<br>
<div id="mobile_nav" class="mobile_nav">
    <div class="styles_demo_box_wrapper">
        <div class="styles_demo_box flex">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>News</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</div>`,
    "code":
`<button data-active-toggle="#mobile_nav">Toggle Mobile Nav</button>
<div id="mobile_nav" class="mobile_nav">
    <!-- content -->
</div>`
}); %>
<% } %>

<%- include('partials/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": moduleTemplates, "sections": styleTemplateConfig.sections, "siteRoot": site_root, "styleTemplatePrefix": styleTemplatePrefix, "styleTemplateSuffix": styleTemplateSuffix}) %>