<% let component = {
  title: "Button",
  description: "A call-to-action button, used to encourage user interaction.",
  background: "light",
  html: {
    code:
`<a class="c_button" href="#">Button</a>`
  },
  twig: {
    code:
`{% import 'macros/component.twig' as component %}
{{ component.c('button', { label: 'Button', url: 'http://google.com' }) }}`,
    options: [
      { "name": 'label', "required": false, "type": 'string', "description": `Text that appears on the button.` },
      { "name": 'target', "required": false, "type": 'string', "description": `Adds a target attribute to the button.` },
      { "name": 'url', "required": false, "type": 'string', "description": `URL that th user will be sent to upon clicking button.` }
    ]
  }
} %>
<%- include(paths.starter.styleInventory + '_demo.ejs', { component: component, paths: paths, pkg: pkg, release: release }) %>