// BUTTONS
@mixin buttons_default {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: .8em 20px .7em;
  width: 100%;
  max-width: 300px;
  background-color: $color_black_default;
  border: none;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1;
  color: $color_white_default;

  &:hover {
    opacity: .7;
  }
}

.button {
  @include buttons_default;
}

button {
  @include buttons_default;
  appearance: none;
}

input[type="submit"] {
  @include buttons_default;
  appearance: none;
}