.c_table {
  width: 100%;

  td {
    padding: 7px 0;
  }

  thead {
    td {
      padding-right: 10px;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  @at-root #{&}--zebra {
    td {
      padding: 15px;
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: lighten($color_black_default, 80);
        }
      }
    }
  }
}