@keyframes fadeIn {
  0% { display: none; opacity: 0; }
  1% { display: block; opacity: 0; }
  100% { display: block; opacity: 1; }
}
@keyframes fadeOut {
  0% { display: block; opacity: 1; }
  99% { display: block; opacity: 0; }
  100% { display: none; opacity: 0; }
}
<% if (styleTemplateConfig.sections.animations.modules.rollover_pop) { %>
.animate_rollover_pop_up {
  transition: transform $anim_duration_default ease-out;

  &:hover {
    transform: translateY(-6%);
  }
}
.animate_rollover_pop_down {
  transition: transform $anim_duration_default ease-out;

  &:hover {
    transform: translateY(6%);
  }
}
.animate_rollover_pop_forward {
  transition: transform $anim_duration_default ease-out;

  &:hover {
    transform: translateY(-8%) scale(1.08, 1.08);
  }
}
<% } %><% if (styleTemplateConfig.sections.animations.modules.click_push_in) { %>
.js .animate_click_push_in {
  transition: transform $anim_duration_default ease-out;

  &:active {
    transform: translateY(3%) scale(.92, .92);
  }
}
<% } %><% if (styleTemplateConfig.sections.animations.modules.scroll_slide_in) { %>
.js .animate_fade_in_from_left {
  transform: translateX(-50%);
  opacity: 0;

  &.animated {
    transition: transform $anim_duration_default ease-out, opacity $anim_duration_default ease-out;
    transform: translateX(0);
    opacity: 1;
  }
}
.js .animate_fade_in_from_bottom {
  transform: translateY(50%);
  opacity: 0;

  &.animated {
    transition: transform $anim_duration_default ease-out, opacity $anim_duration_default ease-out;
    transform: translateY(0);
    opacity: 1;
  }
}
.js .animate_fade_in_from_right {
  transform: translateX(50%);
  opacity: 0;

  &.animated {
    transition: transform $anim_duration_default ease-out, opacity $anim_duration_default ease-out;
    transform: translateX(0);
    opacity: 1;
  }
}
<% } %>