# OS AND CODE EDITORS
.DS_Store
.idea
.vscode
.cache
Thumbs.db
yarn.lock

# DDEV
.ddev/*
!.ddev/config.yaml
!.ddev/config.*.yaml
!.ddev/docker-compose.front-end.yaml
!.ddev/commands/web/composer
!.ddev/commands/web/craft
!.ddev/commands/web/node
!.ddev/commands/web/npm
!.ddev/nginx_full/back-end-api.conf
!.ddev/nginx_full/front-end-api.conf
!.ddev/scripts
!.ddev/web-build/Dockerfile