// To use this file:
// 1. Add your font information to `package.json`
// 2. Run `gulp font` to replace this file with a generated version
// 3. Use @include font('FONTNAME'); in your SCSS files to change fonts

// NOTE: If you update your font settings, or change `enable_font_events`, run `gulp font` to re-generate this file

@mixin font($font) {
  @if $font == 'apple' {
    font-family: -apple-system, BlinkMacSystemFont, "Avinir Next", Avinir, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
  }
}