<% let component = {
  title: "Background Image",
  description: "Loads an image and centers it inside of container elements.",
  background: "light",
  html: {
    demo:
`<div class="styles__box_wrapper">
    <div class="styles__box" style="padding: 0px;">
        <div class="c_image_bg">
            ${ include(paths.components.src + 'image/image.ejs', { c: {
                classes: 'c_image_bg__image',
                alt: 'FPO',
                srcset: '/img/FPO.png',
                webpSrcset: '/img/FPO.webp',
            } }) }
        </div>
    </div>
</div>`,
    code:
`<div class="c_image_bg">
    ${ ('< %-').replace(' ','') } include(paths.components.src + 'image/image.ejs', { c: {
        classes: 'c_image_bg__image',
        alt: 'FPO',
        srcset: '/img/FPO.png',
        webpSrcset: '/img/FPO.webp',
    } }) ${ ('% >').replace(' ','') }
</div>`
  },
  twig: {
      demo:
`<div class="styles__box_wrapper">
    <div class="styles__box" style="padding: 0px;">
        <div class="c_image_bg">
            {% import 'macros/component.twig' as component %}
            {% set image = craft.assets.title('fpo').one() %}
            {% set options = {
                alt: image.title ?? '',
                image: image,
                sources: [{
                    transforms: [
                        { width: 500 },
                        { width: 800 },
                    ],
                }]
            } %}
            {{ component.c('image_bg', { image: options }) }}
        </div>
    </div>
</div>`,
    code:
`{% import 'macros/component.twig' as component %}
{% set image = craft.assets.title('fpo').one() %}
{% set options = {
    alt: image.title ?? '',
    image: image,
    sources: [{
        transforms: [
            { width: 500 },
            { width: 800 },
        ],
    }]
} %}
{{ component.c('image_bg', { image: options }) }}`,
    options: [
      { "name": 'image', "required": true, "type": 'object', "default": `{}`, "description": `Options for the image element. See options above.` }
    ]
  }
} %>
<%- include(paths.starter.styleInventory + '_demo.ejs', { component: component, paths: paths, pkg: pkg, release: release }) %>