.c-image_slider {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vw auto;

  &__slider {
    width: 100%;
    height: 100%;
  }
  &__slide {
    @include layout_centered_image_text;
  }
}