$_height: 20px;

@keyframes c-meter--bar {
  0%   { width: 0 }
  100% { width: var(--progress) }
}

.c-meter {
  &__wrapper {
    position: relative;
    width: 100%;
    height: $_height;
    background-color: transparentize($color_black_raw, .6);
  }
  &__label {
    position: absolute;
    top: -100%;

    &--max {
      right: 0;
      text-align: right;
    }
  }
  &__progress {
    width: var(--progress);
    height: $_height;
    background-color: $color_black;

    &--animate & {
      width: 0;
    }
    &--animate.animated & {
      animation: c-meter--bar 1.5s ease-out forwards;
    }
  }
}