// GLOBAL

::selection {
  background-color: transparentize($color_black_default, .5);
  color: $color_white_default;
}

html {
  @include font('apple');
  line-height: 1.4;
  background-color: $color_white_default;
  color: $color_black_default;
  //-webkit-font-smoothing: antialiased;
}

// GLOBAL ELEMENTS
button {
  appearance: none;
}
figure {
  line-height: 0;
}
img {
  height: auto;
  max-width: 100%;
  width: 100%;
}
video {
  width: 100%;
}
// hide items with v-cloak attribute until vue is loaded and ready to go
[v-cloak] {
  display: none;
}
.fpo {
  background-color: fuchsia;
  outline: 5px solid fuchsia;
  color: $color_white_default;
}

// GLOBAL COMPONENTS
.c_wrapper {
  $self: &;

  @include box_modifiers($self);

  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing_box;
  padding-right: $spacing_box;
  max-width: $max_width;

  @at-root #{&}--no_padding {
    padding-left: 0;
    padding-right: 0;
  }
  @at-root #{&}--text {
    max-width: $max_width_text;
  }
}
.c_header {
  $self: &;

  @include text_modifiers($self);

  @at-root #{$self}--1 {
    @include font('apple_bold');
    @include fz(8, 4rem, '900px');
  }
  @at-root #{$self}--2 {
    @include font('apple_bold');
    @include fz(4, 2rem, '700px');
  }
}
.c_text {
  $self: &;

  @include text_modifiers($self);

  p {
    margin-bottom: $spacing_text;
    line-height: 1.6;

    &:last-child {
      margin-bottom: 0;
    }
    b, strong {
      @include font('apple_bold');
    }
    i, em {
      @include font('apple_italic');
    }
    b i, i b, strong em, em strong {
      @include font('apple_bold_italic');
    }
  }
  ol, ul {
    margin-bottom: $spacing_text;

    &:last-child {
      margin-bottom: 0;
    }

    li {
      margin-bottom: .6em;
      margin-left: 1.5em;
      break-inside: avoid;
    }
  }
  ol {
    @at-root #{$self}--2_column_lists#{&} {
      @include mq(500px) {
        column-count: 2;
        column-gap: 50px;
      }
    }
  }
  ul {
    @at-root #{$self}--2_column_lists#{&} {
      @include mq(500px) {
        column-count: 2;
        column-gap: 50px;
      }
    }

    li {
      list-style: disc outside;
    }
  }
}