// ICONS<% if (styleTemplateConfig.sections.icons.modules.logo_color) { %>
.icon_logo {
  display: block;
  width: 100px;
  height: 100px;
}
<% } %><% if (styleTemplateConfig.sections.icons.modules.social_media_default) { %>
.nav_social {
  display: block;

  & > .icon {
    @include hide_text;
    display: inline-block;
    margin-right: 14px;
    width: 25px;
    height: 25px;

    &:last-child {
      margin-right: 0;
    }
  }
}
<% } %>