{# @var craft \craft\web\twig\variables\CraftVariable #}

<% const currentSection = 'messages' %>
<% const modules = [] %>

<% const intro = false %>

<% modules.push({
    "title": "Alert Bar",
    "description": "Used to display a timely message to users.",
    "background": "light",
    "twigCode":
`{% import 'macros/component.twig' as component %}
{% set body %}
    <div class="c_text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
{% endset %}
{{ component.c('alert_bar', { body: body, summary: 'There is an outage in our production.' }) }}`,
    "options": [
        { "name": 'body', "required": false, "type": 'string', "default": `''`, "description": `URL of audio file.` },
        { "name": 'summary', "required": true, "type": 'string', "default": `''`, "description": `URL of audio file.` }
    ]
}); %>

<% modules.push({
    "title": "Success Alert Message",
    "description": "Default style for a success message—letting the user know the intended action occurred.",
    "background": "light",
    "twigCode":
`{% import 'macros/component.twig' as component %}
{{ component.c('message', { message: 'Congrats! This was successful!' }) }}`,
    "options": [
        { "name": 'level', "required": false, "type": 'string', "default": `'success'`, "description": `Indicates style of message by adding modifiers. Accepts: success, warning, and error.` },
        { "name": 'message', "required": true, "type": 'string', "description": `Content of the message.` },
    ]
}); %>

<% modules.push({
    "title": "Error Alert Message",
    "description": "Default style for an error message—letting the user know the intended action failed, providing them with instructions on how to proceed.",
    "background": "light",
    "twigCode":
`{% import 'macros/component.twig' as component %}
{{ component.c('message', { level: 'error', message: 'I&rsquo;m sorry, Dave. I&rsquo;m afraid I can&rsquo;t do that.' }) }}`
}); %>

<% modules.push({
    "title": "Warning Alert Message",
    "description": "Default style for an warning message—should be used when an intended action can succeed, but it is not optimized.",
    "background": "light",
    "twigCode":
`{% import 'macros/component.twig' as component %}
{{ component.c('message', { level: 'warning', message: 'Houston we have a problem ...' }) }}`
}); %>

<%- include('../../ejs_includes/style_inventory/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": modules}) %>