<% let component = {
  title: "Overlay",
  description: "Display content in front of the current page. The `overlayIsVisible` global variable is available to the Vue root and it changes based on the `show-overlay` and `hide-overlay` events.",
  background: "light",
  html: {
    code:
`<button @click="showOverlay('overlay_1')">Show Overlay</button>
<overlay overlay-id="overlay_1" v-cloak>
  <div class="c_video">
    <video data-lazy-load data-src="https://starter.wbrowar.com/video/clip.mp4" controls></video>
    <noscript><video src="https://starter.wbrowar.com/video/clip.mp4" controls></video></noscript>
  </div>
</overlay>`
  },
  twig: {
    code:
`<button @click="showOverlay('overlay_1')">Show Overlay</button>
<overlay overlay-id="overlay_1" v-cloak>
    {% import 'macros/component.twig' as component %}
    {{ component.c('video', { lazyLoad: false, source: 'youtube', videoId: 'G4Sn91t1V4g' }) }}
</overlay>`,
    options: [
      { "name": 'label', "required": false, "type": 'string', "description": `Text that appears on the button.` },
      { "name": 'target', "required": false, "type": 'string', "description": `Adds a target attribute to the button.` },
      { "name": 'url', "required": false, "type": 'string', "description": `URL that th user will be sent to upon clicking button.` }
    ]
  }
} %>
<%- include(paths.starter.styleInventory + '_demo.ejs', { component: component, paths: paths, pkg: pkg, release: release }) %>