@mixin _field_default {
  margin-bottom: 15px;
  width: 100%;

  &::placeholder{
    color: $color_black_default;
  }

  &:invalid:not(:focus):not(:placeholder-shown) {
    background-color: lighten($color_alert_error, 40);
    border-color: $color_alert_error;
  }
}

.c_form {
  $self: &;

  @at-root #{$self}--flex {
    display: flex;
    flex-flow: row wrap;
  }
  @at-root #{$self}__hidden {
    @include hide_text;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  @at-root #{$self}__input {
    #{$self}--flex & {
      flex: 1 1 400px;
    }
  }

  input[type="text"],
  input[type="email"] {
    @include _field_default;
  }
  textarea {
    @include _field_default;
  }
}