.c_grid {
  $self: &;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: $grid_gap_default;

  @include mq($mq_grid_start) {
    @at-root #{$self}--2_column {
      grid-template-columns: repeat(2, 1fr);
    }
    @at-root #{$self}--3_column {
      grid-template-columns: repeat(3, 1fr);
    }
    @at-root #{$self}--4_column {
      grid-template-columns: repeat(4, 1fr);
    }
    @at-root #{$self}--2_row {
      grid-template-rows: repeat(2, auto);
    }
  }

  @at-root #{$self}__item {
    @at-root #{&}--span_2_column {
      grid-column-end: span 2;
    }
    @at-root #{&}--span_3_column {
      grid-column-end: span 3;
    }
    @at-root #{&}--span_4_column {
      grid-column-end: span 4;
    }
  }
}