.c_buttons {
  $self: &;

  @include box_modifiers($self);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  grid-gap: $grid_gap;

  @at-root #{&}--left {
    justify-content: flex-start;
  }
  @at-root #{&}--center {
    justify-content: center;
  }
  @at-root #{&}--right {
    justify-content: flex-end;
  }
}