{% macro default(options) %}{% spaceless %}
    {% set label = options.label ?? '' %}
    {% set modifiers = options.modifiers ?? '' %}
    {% set target = options.target ?? null %}
    {% set url = options.url ?? '#' %}

    <a class="c_button{% if modifiers ?? false %} {{ modifiers }}{% endif %}" href="{{ url(url) }}"{% if target ?? false %} target="{{ target }}"{% endif %}>{{ label }}</a>
{% endspaceless %}{% endmacro %}