{% macro default(options) %}{% spaceless %}
    {% set label = options.label ?? '' %}
    {% set modifiers = options.modifiers ?? '' %}
    {% set url = options.url ?? '#' %}

    <a class="c_button {{ modifiers }}" href="{{ url(url) }}">{{ label }}</a>
{% endspaceless %}{% endmacro %}