<!DOCTYPE html>
<% if (enable_font_events === 'true') { %>
<!--
SET COOKIE, THEN CHECK FOR IT AND ADD .fonts_loaded IF COOKIE IS SET
-->
<% } %>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- meta icons -->
    <%- include(favicons) %>

    <!-- styles -->
    <noscript>
        <!-- backup for critcss -->
        <link rel="stylesheet" href="<%= site_root %>css/all.css?v=<%= version %>">
    </noscript>

    <!-- critcss -->
    <% if (critCssEnabled) { %><!-- SET COOKIE, THEN CHECK FOR IT. IF COOKIE IS FOUND, SKIP CRITCSS BECAUSE CSS FILE SHOULD ALREADY BE CACHED -->
    <style><%- include(critcsshome) %></style><% } else { %><!-- CRITICAL CSS --><% } %>

    <!-- scripts -->
    <% if (enable_system_js === 'true') { %>
    <script type="text/javascript">
        var jsSection = 'home',
            jsDevMode = <% if (release) { %>false<% } else { %>true<% } %>,
            jsVersion = <% if (release) { %>'<%= version %>'<% } else { %>Date.now().toString()<% } %>,
            jsThemePath = '<%= site_root %>',
            jsModules = [],
            enableFontEvents = <%= enable_font_events %>;

        // use this to add page-specific required modules
        /* jsModules.push('modulepathname'); */

        <%- include(loadcss) %>

        // load CSS
        loadCSS("<%= site_root %>css/all.css?v=<%= version %>");

        <%#
        // Google analytics tag
        /*
         if (!jsDevMode) {
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-XXXXXXX-X', 'EXAMPLE.com');
         ga('send', 'pageview');
         }
         */
        %>
    </script>
</head>
<body>

    <%- include(stylemarkup) %>

    <% if (enable_system_js === 'true') { %>
        <script src='<%= site_root %>js/_lib/system.min.js?v=<%= version %>'></script>
        <script>
            <%- include(systemconfig) %>
            (function() {
                jsModules = jsModules.filter(function(elem, pos, arr) {
                    return arr.indexOf(elem) == pos;
                });
                for (var i = 0; i < jsModules.length; i++) {
                    importPageSpecificModule(jsModules[i]);
                }
            }());

        <% if (enable_font_events === 'true') { %>
            // Load fonts locally and avoid FOIT
            // Setup font events (do not forget to change variable in package.json)
            (function(w) {
                if (w.document.documentElement.className.indexOf("fonts_loaded") > -1){
                    return;
                } else if (enableFontEvents === true) {
                    SystemJS.import('fontfaceobserver').then(function(m) {
                        // change fonts
                        <% for(var i=0; i<fonts.length; i++) { %><% if (fonts[i].fontEventCheck) { %>
                            var font_<%- fonts[i].name %> = new w.FontFaceObserver(<%- fonts[i].fontFamily %>);<% } %><% } %>

                        w.Promise.all([<% for(var i=0; i<fonts.length; i++) { %><% if (fonts[i].fontEventCheck) { %>font_<%- fonts[i].name %>.check(),<% } %><% } %>]).then(function(){
                            w.document.documentElement.className += " fonts_loaded";
                        });
                    });
                }
            }(this));<% } %><% } %>
        </script>
    <% } %>
</body>
</html>