<!DOCTYPE html>

<!--
SET COOKIE, THEN CHECK FOR IT AND ADD .fonts_loaded IF COOKIE IS SET
-->

<!--[if lte IE 9]> <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- meta icons -->
		<!-- build:section meta --><!-- /build -->
		
		<!-- build:process -->
		<!-- styles -->
		<noscript>
			<!--[if gt IE 9]><!-->
			<link rel="stylesheet" href="<%= html_theme_path %>css/all.css?v=<%= version %>">
			<!--<![endif]-->
			
			<!--[if lte IE 9]>
			<link rel="stylesheet" href="<%= html_theme_path %>css/ie9.css?v=<%= version %>">
			<![endif]-->
		</noscript>
		<!-- /build -->
		
		<!-- scripts -->
		<!-- build:style inline critcss --><!-- /build -->
		
		<!-- scripts -->
		<script type="text/javascript">
			<!-- build:process -->
			var requireSection = 'home',
					requireDevMode = true,
					requireVersion = '<%= version %>',
					requireThemePath = '<%= html_theme_path %>',
					requireModules = [],
					requireFontEvents = <%= enable_font_events %>;
			<!-- /build -->
			
			// use this to add page-specific required modules
			/* requireModules.push('modulepathname'); */
					
			<!-- build:section loadcss --><!-- /build -->
			<!-- build:section grunticon --><!-- /build -->
			<!-- build:section requirejs --><!-- /build -->
			<!-- build:section requireconfig --><!-- /build -->
			
			// load CSS
			function hasClass(element, cls) {
				return (' '+element.className+' ').indexOf(' '+cls+' ') > -1;
			}
			if (hasClass(document.documentElement, 'ie9')) {
				<!-- build:process -->
				loadCSS("<%= html_theme_path %>css/ie9.css?v=<%= version %>");
				<!-- /build -->
			} else {
				<!-- build:process -->
				loadCSS("<%= html_theme_path %>css/all.css?v=<%= version %>");
				<!-- /build -->
			}
			
			/*
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
			ga('create', 'UA-XXXXXXX-X', 'EXAMPLE.com');
			ga('send', 'pageview');
			*/
			
			<!-- build:process -->
			if (typeof grunticon == 'function') { 
				grunticon(["<%= html_theme_path %>css/sprites.main.svg.css", "<%= html_theme_path %>css/sprites.main.png.css", "<%= html_theme_path %>css/icons.fallback.css"]); 
			}
			<!-- /build -->
		</script>
		<!-- build:process -->
		<noscript><link href="<%= html_theme_path %>css/icons.fallback.css" rel="stylesheet"></noscript>
		<!-- /build -->
		
		<!-- build:process -->
		
		<!-- /build -->
				
	</head>
	<body>
		<!--[if lt IE 9]>
				<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
		
		<script>
			(function() {
				for (var i = 0; i < requireModules.length; i++) {
					requirePageSpecificModule(requireModules[i]);
				}
			}());
		</script>
	</body>
</html>
