.c_header {
  $self: &;

  @include text_modifiers($self);

  @at-root #{$self}--1 {
    @include font('apple_bold');
    @include fz(8, 4rem, '900px');
  }
  @at-root #{$self}--2 {
    @include font('apple_bold');
    @include fz(4, 2rem, '700px');
  }
  @at-root #{$self}--3 {
    @include font('apple_bold');
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}