<% const currentSection = 'animations' %>
<% const modules = [] %>

<% const intro = false %>

<% modules.push({
  "title": "Rollover Pop Up",
  "description": "Simple roll-over animations.",
  "background": "light",
  "demoCode":
`<div class="styles__box_wrapper">
  <div class="styles__box styles__box--flex c_animate c_animate--rollover--pop--up">Roll over me.</div>
  <div class="styles__box styles__box--flex c_animate c_animate--rollover--pop--down">Roll over me.</div>
  <div class="styles__box styles__box--flex c_animate c_animate--rollover--pop--forward">Roll over me.</div>
</div>`,
  "code":
`<div class="c_animate c_animate--rollover--pop--up">Roll over me.</div>
<div class="c_animate c_animate--rollover--pop--down">Roll over me.</div>
<div class="c_animate c_animate--rollover--pop--forward">Roll over me.</div>`
}); %>

<% modules.push({
  "title": "Push in on Click",
  "description": "Used to show the action of a button being pushed.",
  "background": "light",
  "demoCode":
`<div class="styles__box_wrapper">
  <div class="styles__box styles__box--flex animate c_animate c_animate--click--push_in">Click me.</div>
</div>`,
  "code": `<div class="animate c_animate c_animate--click--push_in">Click me.</div>`
}); %>

<% modules.push({
  "title": "Fade on Scroll",
  "description": "Animated page elements in and out when the user scrolls down to them. Note the optional `data-lazy-animate-offset` attribute is used here, but it's not required.",
  "background": "light",
  "demoCode":
`<div class="styles__box_wrapper">
  <div class="styles__box styles__box--flex" data-lazy-animate="introduceElement" data-lazy-animate-args='{ "effect": "fade-in", "delay": [0.1, 0.5] }' :style="{ opacity: 0 }" v-cloak>Content</div>
  <div class="styles__box styles__box--flex" data-lazy-animate="introduceElement" data-lazy-animate-args='{ "effect": "fade-out", "delay": [0.5, 0.9] }' v-cloak>Content</div>
</div>`,
  "code":
`<div data-lazy-animate="introduceElement" data-lazy-animate-args='{ "effect": "fade-in", "delay": [0.1, 0.5] }' :style="{ opacity: 0 }" v-cloak>Content</div>
<div data-lazy-animate="introduceElement" data-lazy-animate-args='{ "effect": "fade-out", "delay": [0.5, 0.9] }' v-cloak>Content</div>`
}); %>

<% modules.push({
  "title": "Slide in on Scroll",
  "description": "Animated in page elements when the user scrolls down to them.",
  "background": "light",
  "demoCode":
`<div class="styles__box_wrapper">
  <div class="styles__box styles__box--flex" data-lazy-animate="introduceElement" data-lazy-animate-args='{ "effect": "slide-in", "delay": [0.1, 0.9], "x": -100 }' :style="{ opacity: 0 }" v-cloak>Content</div>
  <div class="styles__box styles__box--flex" data-lazy-animate="introduceElement" data-lazy-animate-args='{ "effect": "slide-in", "delay": [0.1, 0.9], "y": 100 }' :style="{ opacity: 0 }" v-cloak>Content</div>
  <div class="styles__box styles__box--flex" data-lazy-animate="introduceElement" data-lazy-animate-args='{ "effect": "slide-in", "delay": [0.1, 0.9], "x": 100 }' :style="{ opacity: 0 }" v-cloak>Content</div>
  <div class="styles__box styles__box--flex" data-lazy-animate="introduceElement" data-lazy-animate-args='{ "effect": "slide-in", "delay": [0.1, 0.9], "y": -100 }' :style="{ opacity: 0 }" v-cloak>Content</div>
</div>`,
  "code":
`
<div data-lazy-animate="introduceElement" data-lazy-animate-args='{ "effect": "slide-in", "delay": [0.1, 0.9], "x": -100 }' :style="{ opacity: 0 }" v-cloak>Content</div>
<div data-lazy-animate="introduceElement" data-lazy-animate-args='{ "effect": "slide-in", "delay": [0.1, 0.9], "y": 100 }' :style="{ opacity: 0 }" v-cloak>Content</div>
<div data-lazy-animate="introduceElement" data-lazy-animate-args='{ "effect": "slide-in", "delay": [0.1, 0.9], "x": 100 }' :style="{ opacity: 0 }" v-cloak>Content</div>
<div data-lazy-animate="introduceElement" data-lazy-animate-args='{ "effect": "slide-in", "delay": [0.1, 0.9], "y": -100 }' :style="{ opacity: 0 }" v-cloak>Content</div>`
}); %>



<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title></title>
  <meta name="description" content="">
  <%- include('../../ejs_includes/_head_meta') %>
  <%- include('../../ejs_includes/_head_scripts') %>
  <%- include('../../ejs_includes/_head_tracking') %>
</head>
<body>
<div id="page">
  <%- include('../../ejs_includes/style_inventory/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": modules}) %>
</div>

<script>loadjs('<%= site_root %>js/app.js?v=' + jsVersion);</script>
</body>
</html>