<% const currentSection = 'buttons' %>
<% const modules = [] %>

<% const intro = false %>

<% modules.push({
  "title": "Class",
  "description": "A call-to-action button, used to encourage user interaction.",
  "background": "light",
  "code": '<a class="c_button" href="#">Read More</a>'
}); %>
<% modules.push({
  "title": "Button Element",
  "description": "A button that performs a Javascript-based action.",
  "background": "light",
  "code": '<button>Action Button</button>'
}); %>
<% modules.push({
  "title": "Submit Button",
  "description": "The submit button on forms.",
  "background": "light",
  "code": '<input type="submit" value="Sign Me Up">'
}); %>



<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title></title>
  <meta name="description" content="">
  <%- include('../../ejs_includes/_head_meta') %>
  <%- include('../../ejs_includes/_head_scripts') %>
  <%- include('../../ejs_includes/_head_tracking') %>
</head>
<body>
<div id="page">
  <%- include('../../ejs_includes/style_inventory/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": modules}) %>
</div>

<script>loadJS('<%= site_root %>js/' + jsSection + '.js?v=' + jsVersion);</script>
</body>
</html>