<% const currentSection = 'forms' %>
<% const modules = [] %>

<% const intro = false %>

<% modules.push({
  "title": "Form Field",
  "description": "Text-based input field.",
  "background": "light",
  "code":
`<form class="c_form">
  <div class="c_form__input  c_form__input--text">
    <label for="text_input">Text Input</label>
    <input id="text_input" type="text" name="text_input">
  </div>
</form>`
}); %>

<% modules.push({
  "title": "Text Area Field",
  "description": "Input field for longer text.",
  "background": "light",
  "code":
`<form class="c_form">
  <div class="c_form__input  c_form__input--email">
    <label for="text_area">Text Area</label>
    <textarea id="text_area" name="text_area" cols="30" rows="10"></textarea>
  </div>
</form>`
}); %>

<% modules.push({
  "title": "Invalid Form Field",
  "description": "Style for when an input field is not correctly filled out based on HTML5 type validation.",
  "background": "light",
  "code":
`<form class="c_form">
  <div class="c_form__input  c_form__input--textarea">
    <label for="invalid_input">Invalid Input</label>
    <input id="invalid_input" type="email" name="invalid_input" value="invalid email">
  </div>
</form>`
}); %>

<% modules.push({
"title": "Submit Button",
"description": "Submit button that is based on default button styling.",
"background": "light",
"code":
`<form class="c_form">
  <div class="c_form__button c_form__button--submit">
    <input class="c_button" type="submit" value="Send">
  </div>
</form>`
}); %>

<% modules.push({
  "title": "Example Form",
  "description": "A basic contact form example.",
  "background": "light",
  "code":
`<form class="c_form" action="">
  <div class="c_form__input c_form__input--text">
    <label for="name">Name</label>
    <input id="name" type="text" name="name">
  </div>
  <div class="c_form__input c_form__input--email">
    <label for="email">Email</label>
    <input id="email" type="email" name="email">
  </div>
  <div class="c_form__input c_form__input--textarea">
    <label for="comments">Comments</label>
    <textarea id="comments" name="comments" cols="30" rows="10"></textarea>
  </div>
  <div class="c_form__button c_form__button--submit">
    <input class="c_button" type="submit" value="Send">
  </div>
</form>`
}); %>



<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title></title>
  <meta name="description" content="">
  <%- include('../../ejs_includes/_head_meta') %>
  <%- include('../../ejs_includes/_head_scripts') %>
  <%- include('../../ejs_includes/_head_tracking') %>
</head>
<body>
<div id="page">
  <%- include('../../ejs_includes/style_inventory/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": modules}) %>
</div>

<script>loadJS('<%= site_root %>js/' + jsSection + '.js?v=' + jsVersion);</script>
</body>
</html>