<% const currentSection = 'icons' %>
<% const modules = [] %>

<% const intro = false %>

<% modules.push({
  "title": "Social Media Icons",
  "description": `Social Media icon links.</a>`,
  "background": "dark",
  "code":
`<nav class="c_nav_social">
  <a href="https://www.facebook.com/username" target="_blank" class="c_nav_social__icon icon_social_facebook" title="Facebook">Facebook</a>
  <a href="https://twitter.com/username" target="_blank" class="c_nav_social__icon icon_social_twitter" title="Twitter">Twitter</a>
  <a href="https://www.instagram.com/username" target="_blank" class="c_nav_social__icon icon_social_instagram" title="Instagram">Instagram</a>
  <a href="https://www.linkedin.com/company/username" target="_blank" class="c_nav_social__icon icon_social_linkedin" title="LinkedIn">LinkedIn</a>
  <a href="https://www.youtube.com/user/username" target="_blank" class="c_nav_social__icon icon_social_youtube" title="YouTube">YouTube</a>
</nav>`
}); %>



<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title></title>
  <meta name="description" content="">
  <%- include('../../ejs_includes/_head_meta') %>
  <%- include('../../ejs_includes/_head_scripts') %>
  <%- include('../../ejs_includes/_head_tracking') %>
</head>
<body>
<div id="page">
  <%- include('../../ejs_includes/style_inventory/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": modules}) %>
</div>

<script>loadJS('<%= site_root %>js/' + jsSection + '.js?v=' + jsVersion);</script>
</body>
</html>