<% const currentSection = 'images' %>
<% const modules = [] %>

<% const intro = false %>

<% modules.push({
  "title": "Lazy-loading Image",
  "description": "An image loaded when the user scrolls down to its location on the page.",
  "background": "light",
  "code":
`<figure>
  <picture>
    <img data-lazy-load src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
         sizes="100vw"
         alt="Fpo"
         data-srcset="/img/FPO.png 1x, /img/FPO@2x.png 2x">
  </picture>
</figure>`
}); %>

<% modules.push({
  "title": "Lazy-loading Background Image",
  "description": "Loads a background image when the user scrolls down to its location on the page. Uses a JSON object in the `data-bg-array` attribute to create CSS that laods the background image. Multiple images can be loaded via media queries defined in the JSON object.",
  "background": "light",
  "demoCode":
`<div class="styles__box_wrapper">
  <div class="styles__box" style="padding: 0px;">
    <div class="c_image_bg">
      <figure class="c_image_bg__image">
        <picture>
          <img data-lazy-load src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
               sizes="100vw"
               alt="Fpo"
               data-srcset="/img/FPO.png 1x, /img/FPO@2x.png 2x">
        </picture>
      </figure>
    </div>
  </div>
</div>`,
  "code":
`<div class="c_image_bg">
  <figure class="c_image_bg__image">
    <picture>
      <img data-lazy-load src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
           sizes="100vw"
           alt="Fpo"
           data-srcset="/img/FPO.png 1x, /img/FPO@2x.png 2x">
    </picture>
  </figure>
</div>`
}); %>



<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title></title>
  <meta name="description" content="">
  <%- include('../../ejs_includes/_head_meta') %>
  <%- include('../../ejs_includes/_head_scripts') %>
  <%- include('../../ejs_includes/_head_tracking') %>
</head>
<body>
<div id="page">
  <%- include('../../ejs_includes/style_inventory/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": modules}) %>
</div>

<script>loadJS('<%= site_root %>js/' + jsSection + '.js?v=' + jsVersion);</script>
</body>
</html>