<% const currentSection = 'media' %>
<% const modules = [] %>

<% const intro = false %>

<% modules.push({
  "title": "Lazy-Loading Audio File",
  "description": "Plays an audio file using default browser controls. Waits until user has scrolled down to the element to load the audio file.",
  "background": "light",
  "code":
`<div class="c_audio">
  <audio data-lazy-load data-src="https://starter.wbrowar.com/audio/clip.mp3" controls></audio>
  <noscript><audio src="https://starter.wbrowar.com/audio/clip.mp3" controls></audio></noscript>
</div>`
}); %>

<% modules.push({
  "title": "Lazy-Loading Iframe",
  "description": "An iframe used to embed video content. Wraps the iframe in a `video` class to resize video in a 16:9 ratio. Waits until user has scrolled down to the element to load iframe content.",
  "background": "light",
  "code":
`<div class="c_video">
  <iframe data-lazy-load data-src="https://www.youtube.com/embed/G4Sn91t1V4g?rel=0&amp;controls=0&amp;showinfo=0" width="853" height="480"  frameborder="0" allowfullscreen></iframe>
  <noscript><iframe src="https://www.youtube.com/embed/G4Sn91t1V4g?rel=0&amp;controls=0&amp;showinfo=0" width="853" height="480"  frameborder="0" allowfullscreen></iframe></noscript>
</div>`
}); %>

<% modules.push({
  "title": "Lazy-loading Video File",
  "description": "Plays a video file. To allow users to control the video, add the `controls` attribute to the `video` tag. Waits until user has scrolled down to the element to load the video file.",
  "background": "light",
  "code":
`<div class="c_video">
  <video data-lazy-load data-src="https://starter.wbrowar.com/video/clip.mp4" controls></video>
  <noscript><video src="https://starter.wbrowar.com/video/clip.mp4" controls></video></noscript>
</div>`
}); %>

<% modules.push({
  "title": "Video Background",
  "description": "Fills the background of an element with a responsive video file that autoplays and loops.",
  "background": "light",
  "demoCode":
`<div class="styles__box_wrapper">
  <div class="styles__box" style="padding: 0;">
    <div class="c_video_bg">
      <video class="c_video_bg__video" data-lazy-load data-src="https://starter.wbrowar.com/video/clip.mp4" preload autoplay muted loop></video>
    </div>
  </div>
</div>`,
"code":
`<div class="c_video_bg">
  <video class="c_video_bg__video" data-lazy-load data-src="https://starter.wbrowar.com/video/clip.mp4" preload autoplay muted loop></video>
</div>`
}); %>



<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title></title>
  <meta name="description" content="">
  <%- include('../../ejs_includes/_head_meta') %>
  <%- include('../../ejs_includes/_head_scripts') %>
  <%- include('../../ejs_includes/_head_tracking') %>
</head>
<body>
<div id="page">
  <%- include('../../ejs_includes/style_inventory/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": modules}) %>
</div>

<script>loadJS('<%= site_root %>js/' + jsSection + '.js?v=' + jsVersion);</script>
</body>
</html>