<% const currentSection = 'sliders' %>
<% const modules = [] %>

<% const intro = false %>

<% modules.push({
"title": "Image Slider",
"description": "A slider that displays images, videos, and custom HTML.",
"background": "light",
"code":
`<div class="c_image_slider">
  <slider class="c_image_slider__slider"
          slider-id="image_slider"
          interval="5000">
    <slider-slide class="c_image_slider__slide">
      <div class="c_image_slider__slide__background">
        <div class="c_image_bg">
          <figure class="c_image_bg__image c_image">
            <picture>
              <source srcset="/img/FPO.png 1x, /img/FPO@2x.png 2x" sizes="100vw" type="image/webp"/>
              <img srcset="/img/FPO.png 1x, /img/FPO@2x.png 2x" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" sizes="100vw" alt=""/>
            </picture>
          </figure>
        </div>
      </div>
    </slider-slide>
    <slider-slide class="c_image_slider__slide">
      <div class="c_image_slider__slide__background">
        <div class="c_video_bg">
          <div class="c_video_bg__video">
            <video src="https://starter.wbrowar.com/video/clip.mp4" autoplay loop playsinline></video>
            <noscript>
              <video src="https://starter.wbrowar.com/video/clip.mp4" autoplay loop></video>
            </noscript>
          </div>
        </div>
      </div>
    </slider-slide>
    <slider-slide class="c_image_slider__slide">
      <div class="c_image_slider__slide__background">
        <div class="c_image_bg">
          <figure class="c_image_bg__image c_image">
            <picture>
              <source srcset="/img/FPO.png 1x, /img/FPO@2x.png 2x" sizes="100vw" type="image/webp"/>
              <img srcset="/img/FPO.png 1x, /img/FPO@2x.png 2x" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" sizes="100vw" alt=""/>
            </picture>
          </figure>
        </div>
      </div>
      <div class="c_image_slider__slide__foreground">
        <h2 class="c_subheader">Title of this element</h2></div>
      <a class="c_image_slider__slide__url_mask" href="http://google.com"></a>
    </slider-slide>
  </slider>
  <slider-control slider-id="image_slider" :show-back="false" :show-next="false"></slider-control>
</div>`
}); %>

<% modules.push({
"title": "Slider Controls",
"description": "Controls for `slider` components. Require `slider-id` attribute that matches the id of the `slider` component.",
"background": "light",
"code":
`<slider-control slider-id="image_slider"></slider-control>

<slider-control slider-id="image_slider" indicator-type="numbers"></slider-control>

<slider-control slider-id="image_slider" label-back="Go Back" :show-indicators="false" :show-next="false"></slider-control>

<slider-control slider-id="image_slider" label-next="Go Forward" :show-back="false" :show-indicators="false"></slider-control>`
}); %>



<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title></title>
  <meta name="description" content="">
  <%- include('../../ejs_includes/_head_meta') %>
  <%- include('../../ejs_includes/_head_scripts') %>
  <%- include('../../ejs_includes/_head_tracking') %>
</head>
<body>
<div id="page">
  <%- include('../../ejs_includes/style_inventory/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": modules}) %>
</div>

<script>loadjs('<%= site_root %>js/app.js?v=' + jsVersion);</script>
</body>
</html>