<% const currentSection = 'tables' %>
<% const modules = [] %>

<% const intro = false %>

<% modules.push({
  "title": "Default Table",
  "description": "A normal table of varying columns and rows.",
  "background": "light",
  "demoCode":
`<table class="c_table">
  <thead>
    <tr>
      <th scope="col">Ingredients</th>
      <th scope="col">Serves 12</th>
      <th scope="col">Serves 24</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Milk</td>
      <td>1 quart</td>
      <td>2 quart</td>
    </tr>
    <tr>
      <td>Cinnamon Sticks</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Vanilla Bean, Split</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Cloves</td>
      <td>5</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Mace</td>
      <td>10 blades</td>
      <td>20 blades</td>
    </tr>
    <tr>
      <td>Egg Yolks</td>
      <td>12</td>
      <td>24</td>
    </tr>
    <tr>
      <td>Cups Sugar</td>
      <td>1 ½ cups</td>
      <td>3 cups</td>
    </tr>
    <tr>
      <td>Dark Rum</td>
      <td>1 ½ cups</td>
      <td>3 cups</td>
    </tr>
    <tr>
      <td>Brandy</td>
      <td>1 ½ cups</td>
      <td>3 cups</td>
    </tr>
    <tr>
      <td>Vanilla</td>
      <td>1 tbsp</td>
      <td>2 tbsp</td>
    </tr>
    <tr>
      <td>Half-and-half or Light Cream</td>
      <td>1 quart</td>
      <td>2 quart</td>
    </tr>
    <tr>
      <td>Freshly grated nutmeg to taste</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>`,
  "code":
`<table class="c_table">
  <thead>
    <tr>
      <th scope="col">Ingredients</th>
      <th scope="col">Serves 12</th>
      <th scope="col">Serves 24</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Milk</td>
      <td>1 quart</td>
      <td>2 quart</td>
    </tr>
    <tr>
      <td>Cinnamon Sticks</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <!-- ... -->
  </tbody>
</table>`
}); %>

<% modules.push({
  "title": "Table with zebra striping",
  "description": "A table that helps readability by alternating a background color for each row.",
  "background": "light",
  "demoCode":
`<table class="c_table c_table--zebra">
  <thead>
    <tr>
      <th scope="col">Ingredients</th>
      <th scope="col">Serves 12</th>
      <th scope="col">Serves 24</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Milk</td>
      <td>1 quart</td>
      <td>2 quart</td>
    </tr>
    <tr>
      <td>Cinnamon Sticks</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Vanilla Bean, Split</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Cloves</td>
      <td>5</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Mace</td>
      <td>10 blades</td>
      <td>20 blades</td>
    </tr>
    <tr>
      <td>Egg Yolks</td>
      <td>12</td>
      <td>24</td>
    </tr>
    <tr>
      <td>Cups Sugar</td>
      <td>1 ½ cups</td>
      <td>3 cups</td>
    </tr>
    <tr>
      <td>Dark Rum</td>
      <td>1 ½ cups</td>
      <td>3 cups</td>
    </tr>
    <tr>
      <td>Brandy</td>
      <td>1 ½ cups</td>
      <td>3 cups</td>
    </tr>
    <tr>
      <td>Vanilla</td>
      <td>1 tbsp</td>
      <td>2 tbsp</td>
    </tr>
    <tr>
      <td>Half-and-half or Light Cream</td>
      <td>1 quart</td>
      <td>2 quart</td>
    </tr>
    <tr>
      <td>Freshly grated nutmeg to taste</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>`,
 "code":
`<table class="c_table c_table--zebra">
  <thead>
    <tr>
      <th scope="col">Ingredients</th>
      <th scope="col">Serves 12</th>
      <th scope="col">Serves 24</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Milk</td>
      <td>1 quart</td>
      <td>2 quart</td>
    </tr>
    <tr>
      <td>Cinnamon Sticks</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <!-- ... -->
  </tbody>
</table>`
}); %>



<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title></title>
  <meta name="description" content="">
  <%- include('../../ejs_includes/_head_meta') %>
  <%- include('../../ejs_includes/_head_scripts') %>
  <%- include('../../ejs_includes/_head_tracking') %>
</head>
<body>
<div id="page">
  <%- include('../../ejs_includes/style_inventory/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": modules}) %>
</div>

<script>loadJS('<%= site_root %>js/' + jsSection + '.js?v=' + jsVersion);</script>
</body>
</html>