<% const lazyLoad = c.lazyLoad || true,
         loop = c.loop || false,
         url = c.url || false;
%>

<div class="c_audio">
    <% if (url) { %>
        <audio <% if (lazyLoad) { %>data-lazy-load data-<% } %>src="<%- url %>"<%- loop ? ' loop' : '' %> controls></audio>
        <noscript><audio src="<%- url %>"<%- loop ? ' loop' : '' %> controls></audio></noscript>
    <% } %>
</div>

