// SASS VARIABLES
$mq_enabled: true !default;

// SASS FUNCTIONS
@function rwd_ratio_width($object_px, $container_px) {
	@return $object_px / $container_px * 100%;
}

// SITE VARIABLES
// COLORS
$color_white_default: rgb(255, 255, 255);
$color_black_default: rgb(0, 0, 0);

// MEDIA QUERIES
$mq_max_width: 1300px;

// PLACEHOLDERS
@mixin clearfix {
	&:before, &:after { content: "\0020"; display: block; height: 0; overflow: hidden; }	
	&:after { clear: both; }	
	& { zoom: 1; } 
}

// SITE MIXINS
// FONTS
@mixin font($font_name) {
	$font_family: sans-serif !default;
	$font_weight: normal !default;
	$font_style: normal !default;
	
	@if $font_name == 'eaves' {
		$font_family: 'MrEavesXLSanRRegular', "Avinir Next", "Avinir", Helvetica, Arial, sans-serif;
	}
	@else if $font_name == 'eaves_italic' {
		$font_family: 'MrEavesXLModBkIRegular', "Avinir Next", "Avinir", Helvetica, Arial, sans-serif;
	}
	
	font: {
		family: $font_family;
		weight: $font_weight;
		style: $font_style;
	}
	-webkit-font-smoothing: antialiased;
	
	@include embed_font($font_name);
}

// MEDIA QUERIES
@mixin mq($breakpoint, $no_mq: false) {
	@if $mq_enabled == true {
		@if $no_mq == false {
			@media (min-width: $breakpoint) {
				@content;
			}
		}
	} @else {
		@content;
	}
}
@mixin mq_max($breakpoint, $no_mq: false) {
	@if $mq_enabled == true {
		@if $no_mq == false {
			@media (max-width: $breakpoint) {
				@content;
			}
		}
	} @else {
		@content;
	}
}
@mixin bg_2x {
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		 only screen and (min--moz-device-pixel-ratio: 2),
		 only screen and (min-device-pixel-ratio: 2) {
		@content;
	}
}

// FLEX BOX
@mixin flexbox($mq: 0) {
	@if $mq != 0 {
		@include mq($mq) {
			.flexbox & {
				display: flex;
				@content;
			}
			.no-flexbox & {
				@include clearfix;
			}
		}
	}
	@else {
		.flexbox & {
			display: flex;
			@content;
		}
		.no-flexbox & {
			@include clearfix;
		}
	}
}

// PLACEHOLDER
@mixin placeholder {
	::-webkit-input-placeholder {
	 @content;
	}
	:-moz-placeholder {
	 @content;
	}
	::-moz-placeholder {
	 @content;
	}
}

// TEXT
@mixin hide_text {
	text-indent: -99999px;
}