img {
	height: auto;
	max-width: 100%;
}
::selection {
	background-color: transparentize(#000, .5);
	color: #fff;
}

html {
	@include font('museo_300');
	font-size: 100%;
	line-height: 1.4;
	color: #000;
}