.c-box {
  $self: &;

  @at-root #{$self}--aspect {
    @include aspect($style_child: '& > *:first-child');
  }
  @at-root #{$self}--demo {
    @extend .fpo !optional;
    height: 200px;
    width: 200px;
  }
}
