<% let component = {
  title: "Buttons",
  description: "Wrapper to align multiple buttons",
  background: "light",
  modifiers: ['center', 'margin', 'margin--auto', 'margin--top', 'margin--right', 'margin--bottom', 'margin--left', 'padding', 'padding--top', 'padding--right', 'padding--bottom', 'padding--left'],
  html: {
    code:
`<div class="c_buttons c_buttons--center">
    <a class="c_button" href="#">First Button</a>
    <a class="c_button" href="#">Second Button</a>
    <a class="c_button" href="#">Third Button</a>
</div>`
  },
  twig: {
    code:
`{% import 'macros/component.twig' as component %}
<div class="c_buttons c_buttons--center">
    {{ component.c('button', { label: 'First Button', url: 'http://google.com' }) }}
    {{ component.c('button', { label: 'Second Button', url: 'http://google.com' }) }}
    {{ component.c('button', { label: 'Third Button', url: 'http://google.com' }) }}
</div>`
  }
} %>
<%- include(paths.starter.styleInventory + '_demo.ejs', { component: component, paths: paths, pkg: pkg, release: release }) %>