.c_header {
  $self: &;

  @at-root #{$self}--1 {
    @include font('apple_bold');
    @include fz(6, 3rem, 900);
  }
  @at-root #{$self}--2 {
    @include font('apple_bold');
    @include fz(4, 2rem, 700);
  }
  @at-root #{$self}--3 {
    @include font('apple_bold');
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
