{# @var craft \craft\web\twig\variables\CraftVariable #}

<% const currentSection = 'images' %>
<% const modules = [] %>

<% const intro = false %>

<% modules.push({
"title": "Lazy-loading Image",
"description": "An image loaded when the user scrolls down to its location on the page.",
"background": "light",
"twigCode":
`{% import 'macros/images.twig' as images %}
{% set image = craft.assets.id(237).one() %}

{% set options = {
    title: image.title ?? '',
    transforms: [
        { width: 500, height: 500 },
        { width: 800, quality: 75, aspect: 1/3 },
    ]
} %}
{{ images.image(image, options) }}`,
    "options": [
        { "name": 'classes', "required": false, "type": 'string', "default": `''`, "description": `Classes added that allow for variations in styles or functionality.` },
        { "name": 'lazyLoad', "required": false, "type": 'boolean', "default": `true`, "description": `Adds the data attributes used by lazy.js to load the image when the user scrolls to it on the page.` },
        { "name": 'placeholder', "required": false, "type": 'string', "default": `blank png data url`, "description": `The value of the image src attribute when srcset is used. This can be a blank png string or the url of an image.` },
        { "name": 'sizes', "required": false, "type": 'string', "default": `'100vw'`, "description": `The value of the img sizes attribute.` },
        { "name": 'styles', "required": false, "type": 'string', "default": `''`, "description": `Inline styles that are added to the figure wrapper of the image.` },
        { "name": 'title', "required": false, "type": 'string', "default": `''`, "description": `The value of the img alt attribute.` },
        { "name": 'transforms', "required": false, "type": 'array', "default": `[]`, "description": `An array of objects that create a Craft image transform.` }
    ]
}); %>

<% modules.push({
"title": "Image Background",
"description": "Fills the background of an element with a responsive video file that autoplays and loops.",
"background": "light",
"demoCode":
`<div class="styles__box_wrapper">
    <div class="styles__box" style="padding: 0;">
        {% import 'macros/images.twig' as images %}
        {% set image = craft.assets.title('Fpo').one() %}
        {% set options = {
            title: image.title ?? '',
            transforms: [
                { width: 500, height: 500, quality: 75 },
                { width: 1000, height: 1000, quality: 75 },
            ]
        } %}
        {{ images.imageBg(image, { imageOptions: options }) }}
    </div>
</div>`,
"twigCode":
`{% import 'macros/images.twig' as images %}
{% set image = craft.assets.title('Fpo').one() %}
{% set options = {
    title: image.title ?? '',
    transforms: [
        { width: 500, height: 500, quality: 75 },
        { width: 1000, height: 1000, quality: 75 },
    ]
} %}
{{ images.imageBg(image, { imageOptions: options }) }}`,
"options": [
{ "name": 'classes', "required": false, "type": 'string', "default": `''`, "description": `Classes added that allow for variations in styles or functionality.` },
{ "name": 'imageOptions', "required": false, "type": 'object', "default": `{}`, "description": `Options passed directly into the images.image macro. See options above.` },
{ "name": 'styles', "required": false, "type": 'string', "default": `''`, "description": `Styles that are appended to ` }
]
}); %>

<%- include('../../ejs_includes/style_inventory/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": modules}) %>