{# @var craft \craft\web\twig\variables\CraftVariable #}

<% const currentSection = 'images' %>
<% const modules = [] %>

<% const intro = false %>

<% modules.push({
"title": "Lazy-loading Image",
"description": "An image loaded when the user scrolls down to its location on the page.",
"background": "light",
"twigCode":
`{% import 'macros/images' as images %}
{% set image = craft.assets.title('Fpo').one() %}

{% set options = {
    title: image.title ?? '',
    transforms: [
        { width: 500, height: 500 }
    ]
} %}
{{ images.image(image ?? '', options) }}`
}); %>

<% modules.push({
"title": "Image Background",
"description": "Fills the background of an element with a responsive video file that autoplays and loops.",
"background": "light",
"demoCode":
`<div class="styles__box_wrapper">
    <div class="styles__box" style="padding: 0;">
        {% import 'macros/images' as images %}
        {% set image = craft.assets.title('Fpo').one() %}
        {% set options = {
            title: image.title ?? '',
            transforms: [
                { width: 500, height: 500 }
            ]
        } %}
        {{ images.imageBg({ image: image ?? '', imageOptions: options }) }}
    </div>
</div>`,
"twigCode":
`{% import 'macros/images' as images %}
{% set image = craft.assets.title('Fpo').one() %}
{% set options = {
    title: image.title ?? '',
    transforms: [
        { width: 500, height: 500 }
    ]
} %}
{{ images.imageBg({ image: image ?? '', imageOptions: options }) }}`
}); %>

<%- include('../../ejs_includes/style_inventory/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": modules}) %>