<% const currentSection = 'overlays' %>
<% const modules = [] %>

<% const intro = false %>

<% modules.push({
  "title": "Overlay",
  "description": "Display content in front of the current page. The `overlayIsVisible` global variable is available to the Vue root and it changes based on the `show-overlay` and `hide-overlay` events.",
  "background": "light",
  "code":
`<button @click="showOverlay('overlay_1')">Show Overlay</button>
<overlay overlay-id="overlay_1" v-cloak>
  <div class="c_video">
    <video data-lazy-load data-src="https://starter.wbrowar.com/video/clip.mp4" controls></video>
    <noscript><video src="https://starter.wbrowar.com/video/clip.mp4" controls></video></noscript>
  </div>
</overlay>`,
}); %>



<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <title></title>
  <meta name="description" content="">
  <%- include('../../ejs_includes/_head_meta') %>
  <%- include('../../ejs_includes/_head_scripts') %>
  <%- include('../../ejs_includes/_head_tracking') %>
</head>
<body>
<div id="page">
  <%- include('../../ejs_includes/style_inventory/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": modules}) %>
</div>

<script>loadjs('<%= site_root %>js/app.js?v=' + jsVersion);</script>
</body>
</html>