@define-mixin _anchor_text {
  @apply underline;

  &:hover,
  &:focus {
    @apply opacity-50;
  }
  &:active {
    @apply opacity-50;
  }
}

.c-text {
  p {
    @apply mb-5 leading-normal;

    &:last-child {
      @apply mb-0;
    }
    b,
    strong {
      @apply font-semibold;
    }
    i,
    em {
      @apply italic;
    }
    b i,
    i b,
    strong em,
    em strong {
      @apply font-semibold italic;
    }
    a {
      @mixin _anchor_text;
    }
  }
  ol,
  ul {
    @apply mb-5 leading-normal;

    &:last-child {
      @apply mb-0;
    }

    li {
      @apply mb-2 ml-6;
      break-inside: avoid;

      a {
        @mixin _anchor_text;
      }
    }
  }
  ol {
    &-2-column {
      @media (--mq-sm) {
        column-count: 2;
        column-gap: 50px;
      }
    }

    li {
      @apply list-decimal;
    }
  }
  ul {
    &-2-column {
      @media (--mq-sm) {
        column-count: 2;
        column-gap: 50px;
      }
    }

    li {
      @apply list-disc;
    }
  }
}
