<% let component = {
  title: "Wrapper",
  description: "Helper class that provides general modifiers.",
  background: "dark",
  "modifiers": ['center', 'margin', 'margin--auto', 'margin--top', 'margin--right', 'margin--bottom', 'margin--left', 'padding', 'padding--top', 'padding--right', 'padding--bottom', 'padding--left'],
  html: {
    code: `<div class="c_wrapper c_wrapper--1 c_wrapper--center c_wrapper--padding">๐๐ต๐โ๏ธโฑ๐๐ฐ๐๐๐โฑ๐๐ค๐ง๐ก๐คโ๏ธ๐๐๐คโ๏ธโ๏ธ๐ค๐คโ๏ธ๐โจ๐๐๐๐๐ถ</div>`
  }
} %>
<%- include(paths.starter.styleInventory + '_demo.ejs', { component: component, paths: paths, pkg: pkg, release: release }) %>