{#
 # The default page layout used for Basic Page entries.
 # To use this layout on other channels, extend this template instead of "_layout".
 #}

{% extends "_layout.twig" %}

{% import 'macros/component.twig' as component %}

{#
 # Eager load elements related to the page `entry`
 #}
{#{% if entry ?? false %}#}
    {#{% do craft.app.elements.eagerLoadElements(#}
        {#className(entry),#}
        {#[entry],#}
        {#['fieldHandle']#}
    {#) %}#}
{#{% endif %}#}

{% block critcss %}
    <style>{{ source('_css/critcss/home.css', ignore_missing = true) }}</style>
{% endblock %}

{% block content %}
    <article>
        <div style="padding: 30vh 0; text-align: center;">
            <p style="font-size: 2.4rem;">{{ pageSection|upper }}</p>
        </div>
    </article>
{% endblock %}