// COLOR FUNCTIONS
// Adjust each property by adding the new value to it.
@function color_change($color_name, $hue: null, $saturation: null, $lightness: null, $alpha: null) {
  $newHue: var(--color-#{$color_name}-h);
  @if $hue != null {
    $newHue: calc(var(--color-#{$color_name}-h) + #{$hue}deg);
  }
  $newSaturation: var(--color-#{$color_name}-s);
  @if $saturation != null {
    $newSaturation: calc(var(--color-#{$color_name}-s) + #{$saturation}#{'%'});
  }
  $newLightness: var(--color-#{$color_name}-l);
  @if $lightness != null {
    $newLightness: calc(var(--color-#{$color_name}-l) + #{$lightness}#{'%'});
  }
  $newAlpha: var(--color-#{$color_name}-a);
  @if $alpha != null {
    $newAlpha: calc(var(--color-#{$color_name}-a) + #{$alpha});
  }
  @return hsla($newHue, $newSaturation, $newLightness, $newAlpha);
}

// Change hue of a color
// @param {String} $color_name - Number to remove unit from
// @return {Number} $hue - Unitless number
// colorh('black', 10)
@function colorh($color_name, $hue) {
  @return hsla(#{$hue}deg, var(--color-#{$color_name}-s), var(--color-#{$color_name}-l), var(--color-#{$color_name}-a));
}

// Change saturation of a color
// @param {String} $color_name - Number to remove unit from
// @return {Number} $saturation - Unitless number
// colors('black', 10)
@function colors($color_name, $saturation) {
  @return hsla(
    var(--color-#{$color_name}-h),
    #{$saturation}#{'%'},
    var(--color-#{$color_name}-l),
    var(--color-#{$color_name}-a)
  );
}

// Change lightness of a color
// @param {String} $color_name - Number to remove unit from
// @return {Number} $lightness - Unitless number
// colorl('black', 10)
@function colorl($color_name, $lightness) {
  @return hsla(
    var(--color-#{$color_name}-h),
    var(--color-#{$color_name}-s),
    #{$lightness}#{'%'},
    var(--color-#{$color_name}-a)
  );
}

// Change alpha of a color
// @param {String} $color_name - Number to remove unit from
// @return {Number} $alpha - Unitless number
// colora('black', .5)
@function colora($color_name, $alpha) {
  @return hsla(var(--color-#{$color_name}-h), var(--color-#{$color_name}-s), var(--color-#{$color_name}-l), $alpha);
}

// STRIP UNIT
// Remove the unit of a length
// @param {Number} $number - Number to remove unit from
// @return {Number} - Unitless number
@function strip_unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// PIXELS TO REM
// Convert pixels to REM (based on 16px defaul)
// px_to_rem(1024);
@function px_to_rem($size) {
  @return #{strip_unit($size) / 16}rem;
}
