// GLOBAL
@include automated_fonts;

::selection {
  background-color: colora('black', 0.5);
  color: $color_white;
}

html {
  @include automated_color_schemes;
  @include font('apple');
  line-height: 1.4;
  background-color: $color_white;
  color: $color_black;
  //-webkit-font-smoothing: antialiased;
}

// GLOBAL ELEMENTS
button {
  appearance: none;
}
figure {
  line-height: 0;
}
img {
  height: auto;
  max-width: 100%;
  width: 100%;
}
video {
  width: 100%;
}
// Removes outline for mouse users, but keeps outline for keyboard users
:focus:not(:focus-visible) {
  outline: none;
}

// Hide items with v-cloak attribute until Vue is loaded and ready to go
[v-cloak] {
  display: none;
}

// Make element bright and easy to see that it needs to be swapped out during development
.fpo {
  background-color: fuchsia;
  outline: 5px solid fuchsia;
  color: $color_white;
}
