{#
 # The default page layout used for Basic Page entries.
 # To use this layout on other channels, extend this template instead of "_layout".
 #}

{% extends "_layout" %}

{% set pageSection = pageSection ?? 'inside' %}
{% set jsSection = jsSection ?? 'inside' %}

{% block critcss %}
  <% if (critCssEnabled) { %><style><%- include(critcsshome) %></style><% } else { %><!-- CRITICAL CSS --><% } %>
{% endblock %}

{% block content %}
    <br><br><br><br><br><br><br><br><br><p>BASIC PAGE</p><br><br><br><br><br><br><br><br><br>
{% endblock %}

{% block jsFooter %}
    <script>SystemJS.import('inside');</script>
{% endblock %}