{% extends "_layout" %}

{% import 'macros/gallery_grid_item' as galleryGridItem %}
{% import 'macros/includes' as includes %}

{% set pageSection = 'work' %}
{% set jsSection = 'work' %}
{% set uiLogoTop = '20' %}

{% block critcss %}
    <% if (critCssEnabled) { %>
    <style><%- include(critcssteam) %></style><% } else { %><!-- CRITICAL CSS --><% } %>
{% endblock %}

{% block content %}
    {% set projects = craft.entries({
        section: 'workProject',
        type: 'workProject',
        order: 'title',
        limit: 0,
        with: [
            'workFeaturedImage',
            'workCategories',
        ],
    }) %}

    <section class="wrapper wrapper--content_center">
        {% for project in projects %}
            <a href="{{ project.url }}">{{ project.title|widont }}</a><br>
        {% endfor %}
    </section>
{% endblock %}