{# The main layout file. #}

<!DOCTYPE html>

{% set jsSection = jsSection ?? 'inside' %}
{% set bodyClasses = ['js-' ~ jsSection] %}

{% if pageSection ?? false %}
  {% set bodyClasses = bodyClasses|merge(['p-' ~ pageSection]) %}
{% endif %}

{# web, amp, fb, apple #}
{% set layoutType = layoutMode ?? 'web' %}
{% set bodyClasses = bodyClasses|merge(['l-' ~ layoutType]) %}

<html class="no-js" lang="en">
  <head>
<%- include('ejs_includes/_head_meta') %>
    {% hook 'seomaticRender' %}
    {% hook 'renderAdminBar' %}

<%- include('ejs_includes/_head_scripts') %>

<%- include('ejs_includes/_head_tracking') %>
  </head>
  <body{% if bodyClasses|length %} class="{{ bodyClasses|join(' ') }}"{% endif %}>
    {% minify %}
    <div id="page">
      {% block header %}
        {% include 'partials/page_ui' %}
      {% endblock %}

      <section class="page_wrapper">
      {% block contentBefore %}{% endblock %}
      {% block content %}{% endblock %}
      {% block contentAfter %}{% endblock %}
      </section>

      {% block footer %}
        {% include 'partials/page_footer' %}
      {% endblock %}
    </div>
    {% endminify %}

    {% block jsFooter %}
      <script>loadJS('<%= site_root %>js/' + jsSection + '.js?v=' + jsVersion);</script>
    {% endblock %}
  </body>
</html>