{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}

{% extends "_layout.twig" %}

{% import 'macros/component.twig' as component %}

{% set pageSection = 'home' %}

{% block critcss %}
    <style>{{ source('_critcss/home.css') }}</style>
{% endblock %}

{% block content %}
    <div style="padding: 30vh 0; text-align: center;">
        <p style="font-size: 2.4rem;">{{ pageSection|upper }}</p>
    </div>
{% endblock %}