{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "_layout.twig" %}

{% set pageSection = 'home' %}

{% block critcss %}
    <style>{{ source('_critcss/home.css') }}</style>
{% endblock %}

{% block content %}
    <br><br><br><br><br><br><br><br><br><p>HOME</p><br><br><br><br><br><br><br><br><br>
{% endblock %}