{# @var craft \craft\web\twig\variables\CraftVariable #}

{% extends "_layout.twig" %}

{% set pageSection = 'home' %}

{% block critcss %}
    <style>{{ source('_critcss/home.css') }}</style>
{% endblock %}

{% block content %}
    <div style="padding: 30vh 30vw; text-align: center;">
        <p style="font-size: 2.4rem;">{{ pageSection|upper }}</p>
    </div>
{% endblock %}