{% extends "_layout" %}

{% set pageSection = 'home' %}
{% set jsSection = 'home' %}

{% block critcss %}
    <% if (critCssEnabled) { %><style><%- include(critcsshome) %></style><% } else { %><!-- CRITICAL CSS --><% } %>
{% endblock %}

{% block content %}
    <br><br><br><br><br><br><br><br><br><p>HOME</p><br><br><br><br><br><br><br><br><br>
{% endblock %}