// COLORS
:root {
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-alert_success: rgb(45, 176, 51);
  --color-alert_error: rgb(176, 25, 22);
  --color-alert_warning: rgb(238, 199, 0);
}

$color_white: var(--color-white);
$color_black: var(--color-black);
$color_alert_success: var(--color-alert_success);
$color_alert_error: var(--color-alert_error);
$color_alert_warning: var(--color-alert_warning);

$color_white_raw: rgb(255, 255, 255);
$color_black_raw: rgb(0, 0, 0);
$color_alert_success_raw: rgb(45, 176, 51);
$color_alert_error_raw: rgb(176, 25, 22);
$color_alert_warning_raw: rgb(238, 199, 0);
