
@mixin icon_close($map: ()) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNy4yIDI3LjEzIj48dGl0bGU+Y2xvc2U8L3RpdGxlPjxwb2x5Z29uIHBvaW50cz0iMjcuMTIgMjMuMzEgMTcuMzggMTMuNTYgMjcuMTEgMy44MiAyMy4zIDAuMDEgMTMuNTYgOS43NSAzLjgyIDAgMCAzLjgyIDkuNzQgMTMuNTcgMC4wMSAyMy4zMSAzLjgyIDI3LjEyIDEzLjU2IDE3LjM4IDIzLjMgMjcuMTMgMjcuMTIgMjMuMzEiLz48L3N2Zz4=");
}
.icon_close {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNy4yIDI3LjEzIj48dGl0bGU+Y2xvc2U8L3RpdGxlPjxwb2x5Z29uIHBvaW50cz0iMjcuMTIgMjMuMzEgMTcuMzggMTMuNTYgMjcuMTEgMy44MiAyMy4zIDAuMDEgMTMuNTYgOS43NSAzLjgyIDAgMCAzLjgyIDkuNzQgMTMuNTcgMC4wMSAyMy4zMSAzLjgyIDI3LjEyIDEzLjU2IDE3LjM4IDIzLjMgMjcuMTMgMjcuMTIgMjMuMzEiLz48L3N2Zz4=");
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin icon_location($map: ()) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAzNi44MSI+PHRpdGxlPmxvY2F0aW9uPC90aXRsZT48cGF0aCBpZD0ibG9jYXRpb24iIGQ9Ik0xMi41OCwwUzAtLjMyLDAsMTIuM2MwLDkuMjgsMTIuNTgsMjQuNTEsMTIuNTgsMjQuNTFTMjUuMTYsMjEuNTgsMjUuMTYsMTIuM0MyNS4xNi0uMzIsMTIuNTgsMCwxMi41OCwwWm0wLDE3Ljg3YTQuOCw0LjgsMCwxLDEsNC44LTQuOCw0LjgsNC44LDAsMCwxLTQuOCw0LjhaIi8+PC9zdmc+");
}
.icon_location {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNSAzNi44MSI+PHRpdGxlPmxvY2F0aW9uPC90aXRsZT48cGF0aCBpZD0ibG9jYXRpb24iIGQ9Ik0xMi41OCwwUzAtLjMyLDAsMTIuM2MwLDkuMjgsMTIuNTgsMjQuNTEsMTIuNTgsMjQuNTFTMjUuMTYsMjEuNTgsMjUuMTYsMTIuM0MyNS4xNi0uMzIsMTIuNTgsMCwxMi41OCwwWm0wLDE3Ljg3YTQuOCw0LjgsMCwxLDEsNC44LTQuOCw0LjgsNC44LDAsMCwxLTQuOCw0LjhaIi8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin icon_minus($map: ()) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNy4zOSA0LjQ5Ij48dGl0bGU+bWludXM8L3RpdGxlPjxyZWN0IHdpZHRoPSIyNy4zOSIgaGVpZ2h0PSI0LjQ5Ii8+PC9zdmc+");
}
.icon_minus {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNy4zOSA0LjQ5Ij48dGl0bGU+bWludXM8L3RpdGxlPjxyZWN0IHdpZHRoPSIyNy4zOSIgaGVpZ2h0PSI0LjQ5Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin icon_plus($map: ()) {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNy40IDI3LjM5Ij48dGl0bGU+cGx1czwvdGl0bGU+PHBvbHlnb24gcG9pbnRzPSIyNy40IDExLjQ1IDE1Ljk0IDExLjQ1IDE1Ljk0IDAgMTEuNDYgMCAxMS40NiAxMS40NSAwIDExLjQ1IDAgMTUuOTQgMTEuNDYgMTUuOTQgMTEuNDYgMjcuMzkgMTUuOTQgMjcuMzkgMTUuOTQgMTUuOTQgMjcuNCAxNS45NCAyNy40IDExLjQ1Ii8+PC9zdmc+");
}
.icon_plus {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNy40IDI3LjM5Ij48dGl0bGU+cGx1czwvdGl0bGU+PHBvbHlnb24gcG9pbnRzPSIyNy40IDExLjQ1IDE1Ljk0IDExLjQ1IDE1Ljk0IDAgMTEuNDYgMCAxMS40NiAxMS40NSAwIDExLjQ1IDAgMTUuOTQgMTEuNDYgMTUuOTQgMTEuNDYgMjcuMzkgMTUuOTQgMjcuMzkgMTUuOTQgMTUuOTQgMjcuNCAxNS45NCAyNy40IDExLjQ1Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: contain;
}
