<% let component = {
    title: "Card",
    description: "A new component.",
    background: "light",
    html: {
        code:
`<div class="c_wrapper c_grid c_grid--2-3">
    <div class="c_card">
        <div class="c_card__image">
            <div class="c_image_bg c_card__image__background">
                <figure class="c_image_bg__image">
                    <picture>
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" sizes="100vw" alt="" srcset="/imager/wb-test_test/img/FPO_b12b24830b09f5383193d8064371840e.png 500w, /imager/wb-test_test/img/FPO_0b2516e730d44c336347c45fc67effd5.png 800w">
                    </picture>
                </figure>
            </div>
        </div>
        <div class="c_card__info">
            <h1 class="c_card__info__title c_header c_header--3">Jane Smith</h1>
            <p class="c_card__info__subtitle">Assistant to the Regional Manager</p>
            <div class="c_card__info__contact">
                <a href="tel:+15551002345" class="c_card__info__phone">P: 555-100-2345</a>
                <a href="tel:+15552003456" class="c_card__info__fax">F: 555-200-3456</a>
                <a href="mailto:jane.smith@exampleco.com" class="c_card__info__email">jane.smith@exampleco.com</a>
                <span>Is awesome</span>
                <span>Just the best</span>
                <span><a href="https://en.wikipedia.org/wiki/Wonder_Woman_(2017_film)">Basically Wonder Woman</a></span>
            </div>
            <div class="c_card__info__summary c_text">
                <p>Lorem ipsum dolor sit amet, con­secte­tur adip­isic­ing elit. Adip­is­ci aliq­uid con­se­quatur error eum, exerci­ta­tionem illo incidunt ipsum mag­ni min­i­ma moles­tias mol­li­tia nul­la numquam obcae­cati officiis&nbsp;…</p>
            </div>
            <a href="#" class="c_button c_card__info__button">Learn More about Jane</a>
        </div>
    </div>
    <div class="c_card">
        <div class="c_card__image c_card__image--rollover">
            <div class="c_image_bg c_card__image__background">
                <figure class="c_image_bg__image">
                    <picture>
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" sizes="100vw" alt="" srcset="/imager/wb-test_test/img/FPO_b12b24830b09f5383193d8064371840e.png 500w, /imager/wb-test_test/img/FPO_0b2516e730d44c336347c45fc67effd5.png 800w">
                    </picture>
                </figure>
            </div>
            <div class="c_card__image__middle"></div>
            <div class="c_card__image__foreground">
                <span>Jane Smith</span>
            </div>
        </div>
        <div class="c_card__info">
            <h1 class="c_card__info__title c_header c_header--3">Jane Smith</h1>
            <p class="c_card__info__subtitle">Assistant to the Regional Manager</p>
            <div class="c_card__info__contact">
                <a href="tel:+15551002345" class="c_card__info__phone">P: 555-100-2345</a>
                <a href="tel:+15552003456" class="c_card__info__fax">F: 555-200-3456</a>
                <a href="mailto:jane.smith@exampleco.com" class="c_card__info__email">jane.smith@exampleco.com</a>
                <span>Is awesome</span>
                <span>Just the best</span>
                <span><a href="https://en.wikipedia.org/wiki/Wonder_Woman_(2017_film)">Basically Wonder Woman</a></span>
            </div>
            <div class="c_card__info__summary c_text">
                <p>Lorem ipsum dolor sit amet, con­secte­tur adip­isic­ing elit. Adip­is­ci aliq­uid con­se­quatur error eum, exerci­ta­tionem illo incidunt ipsum mag­ni min­i­ma moles­tias mol­li­tia nul­la numquam obcae­cati officiis&nbsp;…</p>
            </div>
            <a href="#" class="c_button c_card__info__button">Learn More about Jane</a>
        </div>
    </div>
    <div class="c_card">
        <div class="c_card__image c_card__image--static">
            <div class="c_image_bg c_card__image__background">
                <figure class="c_image_bg__image">
                    <picture>
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" sizes="100vw" alt="" srcset="/imager/wb-test_test/img/FPO_b12b24830b09f5383193d8064371840e.png 500w, /imager/wb-test_test/img/FPO_0b2516e730d44c336347c45fc67effd5.png 800w">
                    </picture>
                </figure>
            </div>
            <div class="c_card__image__middle"></div>
            <div class="c_card__image__foreground">
                <span>Jane Smith</span>
            </div>
        </div>
        <div class="c_card__info">
            <h1 class="c_card__info__title c_header c_header--3">Jane Smith</h1>
            <p class="c_card__info__subtitle">Assistant to the Regional Manager</p>
            <div class="c_card__info__contact">
                <a href="tel:+15551002345" class="c_card__info__phone">P: 555-100-2345</a>
                <a href="tel:+15552003456" class="c_card__info__fax">F: 555-200-3456</a>
                <a href="mailto:jane.smith@exampleco.com" class="c_card__info__email">jane.smith@exampleco.com</a>
                <span>Is awesome</span>
                <span>Just the best</span>
                <span><a href="https://en.wikipedia.org/wiki/Wonder_Woman_(2017_film)">Basically Wonder Woman</a></span>
            </div>
            <div class="c_card__info__summary c_text">
                <p>Lorem ipsum dolor sit amet, con­secte­tur adip­isic­ing elit. Adip­is­ci aliq­uid con­se­quatur error eum, exerci­ta­tionem illo incidunt ipsum mag­ni min­i­ma moles­tias mol­li­tia nul­la numquam obcae­cati officiis&nbsp;…</p>
            </div>
            <a href="#" class="c_button c_card__info__button">Learn More about Jane</a>
        </div>
    </div>
</div>`
    },
    twig: {
        code:
`{% import 'macros/component.twig' as component %}

{% set cardEntries = [
    {
        image: craft.assets.title('fpo').one() ?? alias('@web/img/FPO.png'),
        info: {
            title: 'Jane Smith',
            subtitle: 'Assistant to the Regional Manager',
            fax: '555-200-3456',
            phone: '555-100-2345',
            email: 'jane.smith@exampleco.com',
            otherContact: ['Is awesome', 'Just the best', '<a href="https://en.wikipedia.org/wiki/Wonder_Woman_(2017_film)">Basically Wonder Woman</a>'],
            summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid consequatur error eum, exercitationem illo incidunt ipsum magni minima molestias mollitia nulla numquam obcaecati officiis quas quibusdam ratione reprehenderit sequi.',
            buttonLabel: 'Learn More about Jane',
            buttonUrl: '#',
        }
    },
    {
        image: craft.assets.title('fpo').one() ?? alias('@web/img/FPO.png'),
        imageForeground: '<span>Jane Smith</span>',
        imageTheme: 'rollover',
        imageUrl: '#',
        info: {
            title: 'Jane Smith',
            subtitle: 'Assistant to the Regional Manager',
            fax: '555-200-3456',
            phone: '555-100-2345',
            email: 'jane.smith@exampleco.com',
            otherContact: ['Is awesome', 'Just the best', '<a href="https://en.wikipedia.org/wiki/Wonder_Woman_(2017_film)">Basically Wonder Woman</a>'],
            summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid consequatur error eum, exercitationem illo incidunt ipsum magni minima molestias mollitia nulla numquam obcaecati officiis quas quibusdam ratione reprehenderit sequi.',
            buttonLabel: 'Learn More about Jane',
            buttonUrl: '#',
        }
    },
    {
        image: craft.assets.title('fpo').one() ?? alias('@web/img/FPO.png'),
        imageForeground: '<span>Jane Smith</span>',
        imageTheme: 'static',
        imageUrl: '#',
        info: {
            title: 'Jane Smith',
            subtitle: 'Assistant to the Regional Manager',
            fax: '555-200-3456',
            phone: '555-100-2345',
            email: 'jane.smith@exampleco.com',
            otherContact: ['Is awesome', 'Just the best', '<a href="https://en.wikipedia.org/wiki/Wonder_Woman_(2017_film)">Basically Wonder Woman</a>'],
            summary: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid consequatur error eum, exercitationem illo incidunt ipsum magni minima molestias mollitia nulla numquam obcaecati officiis quas quibusdam ratione reprehenderit sequi.',
            buttonLabel: 'Learn More about Jane',
            buttonUrl: '#',
        }
    },
] %}

<div class="c_wrapper c_grid c_grid--2-3">
    {% for item in cardEntries %}
        {{ component.c('card', item) }}
    {% endfor %}
</div>`
  },
    options: [
        { "name": 'image', "required": true, "type": 'Asset or string', "default": `{}`, "description": `` }
    ]
} %>
<%- include(paths.starter.styleInventory + '_demo.ejs', { component: component }) %>