
$font_embedded_eaves: false;
$font_embedded_eaves_italic: false;

@mixin embed_font($font_name) {
  @at-root {
    @if $font_name == 'eaves' {
      @if $font_embedded_eaves == false {
        $font_embedded_eaves: true;
        @font-face {
            font-family: 'MrEavesXLSanRRegular';
            src: url('/fonts/mreavesxlsanr-020415006EmigreWebOnly.eot');
            src: url('/fonts/mreavesxlsanr-020415006EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/mreavesxlsanr-020415006EmigreWebOnly.woff2') format('woff2'),
                 url('/fonts/mreavesxlsanr-020415006EmigreWebOnly.woff') format('woff');
            font-style: normal;
            font-weight: normal;
        }
      }
    }
    @else if $font_name == 'eaves_italic' {
      @if $font_embedded_eaves_italic == false {
        $font_embedded_eaves_italic: true;
        @font-face {
            font-family: 'MrEavesXLModBkIRegular';
            src: url('/fonts/mreavesxlsanr-020415006EmigreWebOnly.eot');
            src: url('/fonts/mreavesxlsanr-020415006EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/mreavesxlsanr-020415006EmigreWebOnly.woff2') format('woff2'),
                 url('/fonts/mreavesxlsanr-020415006EmigreWebOnly.woff') format('woff');
            font-style: normal;
            font-weight: normal;
        }
      }
    }
  }
}

// Embed fonts from font service or hosted locally
@mixin font($font_name) {
  $font_family: '';
  $font_fallbacks: sans-serif !default;
  $font_weight: normal !default;
  $font_style: normal !default;

  @if $font_name == 'avinir' {
    $font_family: 'Avinir Next';
    $font_fallbacks: 'Avinir', Helvetica, Arial, sans-serif;
    $font_style: normal;
    $font_weight: normal;
  }
  @else if $font_name == 'avinir_italic' {
    $font_family: 'Avinir Next';
    $font_fallbacks: 'Avinir', Helvetica, Arial, sans-serif;
    $font_style: italic;
    $font_weight: normal;
  }
  @else if $font_name == 'apple' {
    $font_family: -apple-system;
    $font_fallbacks: BlinkMacSystemFont, 'Avinir Next', 'Avinir', Helvetica, Arial, sans-serif;
    $font_style: normal;
    $font_weight: normal;
  }
  @else if $font_name == 'eaves' {
    $font_family: 'MrEavesXLSanRRegular';
    $font_fallbacks: Helvetica, Arial, sans-serif;
    $font_style: normal;
    $font_weight: normal;
  }
  @else if $font_name == 'eaves_italic' {
    $font_family: 'MrEavesXLModBkIRegular';
    $font_fallbacks: Helvetica, Arial, sans-serif;
    $font_style: normal;
    $font_weight: normal;
  }

  font: {
    family: $font_family, $font_fallbacks;
    weight: $font_weight;
    style: $font_style;
  }
  font-display: swap;
  
  @include embed_font($font_name);
}