@keyframes fadeIn {
  0% { display: none; opacity: 0; }
  1% { display: block; opacity: 0; }
  100% { display: block; opacity: 1; }
}
@keyframes fadeOut {
  0% { display: block; opacity: 1; }
  99% { display: block; opacity: 0; }
  100% { display: none; opacity: 0; }
}

.enhanced {
  .c_animate {
    @at-root #{&}--click {
      @at-root #{&}--push_in {
        transition: transform $anim_duration_slide ease-out;

        &:active {
          transform: translateY(3%) scale(.92, .92);
        }
      }
    }
    @at-root #{&}--rollover {
      @at-root #{&}--pop {
        @at-root #{&}--up {
          transition: transform $anim_duration_slide ease-out;

          &:hover {
            transform: translateY(-6%);
          }
        }
        @at-root #{&}--down {
          transition: transform $anim_duration_slide ease-out;

          &:hover {
            transform: translateY(6%);
          }
        }
        @at-root #{&}--forward {
          transition: transform $anim_duration_slide ease-out;

          &:hover {
            transform: translateY(-8%) scale(1.08, 1.08);
          }
        }
      }
      @at-root #{&}--scale {
        position: relative;
        overflow: hidden;

        & > * {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        @at-root #{&}__background {
          transition: transform $anim_duration_slide ease-out;
        }

        @at-root &:hover > .c_animate--rollover--scale__background {
          transform: scale(1.25, 1.25);
        }
      }
    }
  }
}
