$_margin: 5px;
.c_nav_social {
  margin-right: -$_margin;
  margin-left: -$_margin;

  @at-root #{&}__icon {
    @include hide_text;
    display: inline-block;
    margin-right: $_margin;
    margin-left: $_margin;
    width: 30px;
    height: 30px;
  }
}