<% let component = {
  title: "Lazy Animate",
  description: "A new component.",
  background: "light",
  html: {
    code:
`<div class="c_lazy_animate">DEMO CODE</div>`
  }
} %>
<%- include(paths.starter.styleInventory + '_demo.ejs', { component: component, paths: paths, pkg: pkg, release: release }) %>