<% const currentSection = 'buttons' %>
<% const modules = [] %>

<% const intro = false %>

<% modules.push({
  "title": "Class",
  "description": "A call-to-action button, used to encourage user interaction.",
  "background": "light",
  "twigCode":
`{% import 'macros/buttons' as buttons %}
{{ buttons.default({ label: 'Button', url: 'http://google.com' }) }}`
}); %>
<% modules.push({
  "title": "Button Element",
  "description": "A button that performs a Javascript-based action.",
  "background": "light",
  "code": '<button>Action Button</button>'
}); %>
<% modules.push({
  "title": "Submit Button",
  "description": "The submit button on forms.",
  "background": "light",
  "code": '<input type="submit" value="Sign Me Up">'
}); %>

<%- include('../../ejs_includes/style_inventory/_wrapper', {"activeItem": currentSection, "intro": intro, "modules": modules}) %>