// GRID
// Use this file for CSS Grid Layout for full page layouts
// To use CSS Grid in sections or components, use the appropriate SCSS file<% if (styleTemplateConfig.sections.grid.modules.holy_grail) { %>
$_grid_column_gutter: 20px;
.grid_holy_grail {
  @include mq(768px) {
    display: grid;
    grid-template-columns: 0 auto $_grid_column_gutter 200px 0;
    grid-template-rows: auto;
    grid-template-areas:
            "header header header header header"
            ". main . sidebar ."
            "footer footer footer footer footer";
    width: 100%;
    justify-content: stretch;

    & > .header {
      grid-area: header;
    }
    & > .main {
      grid-area: main;
    }
    & > .sidebar {
      grid-area: sidebar;
    }
    & > .footer {
      grid-area: footer;
    }
    @include mq(1000px) {
      grid-template-columns: auto minmax(auto, 800px) $_grid_column_gutter 300px auto;
    }
    @include mq(1600px) {
      grid-template-columns: auto minmax(auto, 800px) $_grid_column_gutter 500px auto;
    }
  }
}
<% } %>