.c_video_bg {
  $self: &;

  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  @include aspect(1/1);

  @at-root #{$self}__video, #{$self}__video video {
    padding: 0;
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateX(-50%) translateY(-50%);
  }
}