<% let component = {
  title: "Video Background",
  description: "Fills the background of an element with a responsive video file that autoplays and loops.",
  background: "light",
  html: {
    demo:
`<div class="styles__box_wrapper">
    <div class="styles__box" style="padding: 0;">
        <div class="c_video_bg">
            ${ ('< %-').replace(' ','') } include(paths.components.src + 'video/video.ejs', { c: {
                classes: 'c_video_bg__video c_video--no_aspect',
                autoplay: true,
                controls: false,
                muted: true,
                url: 'https://starter.wbrowar.com/video/clip.mp4',
            } }) ${ ('% >').replace(' ','') }
        </div>
    </div>
</div>`,
    code:
`<div class="c_video_bg">
    ${ ('< %-').replace(' ','') } include(paths.components.src + 'video/video.ejs', { c: {
        classes: 'c_video_bg__video c_video--no_aspect',
        autoplay: true,
        controls: false,
        muted: true,
        url: 'https://starter.wbrowar.com/video/clip.mp4',
    } }) ${ ('% >').replace(' ','') }
</div>`
  },
  twig: {
    demo:
`<div class="styles__box_wrapper">
    <div class="styles__box" style="padding: 0;">
        {% import 'macros/component.twig' as component %}
        {{ component.c('video_bg', { video: { url: 'https://starter.wbrowar.com/video/clip.mp4' } }) }}
    </div>
</div>`,
    code:
`{% import 'macros/component.twig' as component %}
{{ component.c('video_bg', { video: { url: 'https://starter.wbrowar.com/video/clip.mp4' } }) }}`
  }
} %>
<%- include(paths.starter.styleInventory + '_demo.ejs', { component: component, paths: paths, pkg: pkg, release: release }) %>